Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

public api
  src/bitcaster/api/base.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/system.py
  src/bitcaster/api/urls.py
  src/bitcaster/api/user.py
  src/bitcaster/auth/constants.py
  src/bitcaster/config/urls.py
  src/bitcaster/constants.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/user.py
  tests/admin/test_admin_project.py
  tests/admin/test_admin_smoke.py
  tests/api/conftest.py
  tests/api/test_api_authentication.py
  tests/api/test_api_permission.py
  tests/api/test_api_schema.py
  tests/api/test_api_smoke.py
  tests/api/test_api_system.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/extras/testutils/factories/org.py
  tests/test_bitcaster.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

public api
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
Due: lint, test, checkCoverage, deploy-dev

public API
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/urls.py
  src/bitcaster/api/user.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/address.py
  src/bitcaster/models/organization.py
  src/bitcaster/social/migrations/0001_initial.py
  tests/api/test_api_lists.py
  tests/api/test_api_org.py
  tests/extras/testutils/factories/distribution.py
Due: lint, test, checkCoverage, deploy-dev

updates tests and ChannelWizard
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/org.py
  src/bitcaster/api/user.py
  src/bitcaster/constants.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/media.py
  src/bitcaster/models/organization.py
  src/bitcaster/social/migrations/0001_initial.py
  src/bitcaster/web/templates/admin/channel/configure.html
  src/bitcaster/webpush/dispatcher.py
  tests/admin/test_admin_channel.py
  tests/conftest.py
  tests/extras/testutils/factories/media.py
  tests/models/test_model_media.py
  tests/webpush/test_p_webpush.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

Addingo WSO Social Auth Provider
  .pre-commit-config.yaml
  docs/BitcasterCD.drawio.png
  src/bitcaster/apps.py
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/celery.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/config/settings.py
  src/bitcaster/management/commands/env.py
  src/bitcaster/social/admin.py
  src/bitcaster/social/backend/__init__.py
  src/bitcaster/social/backend/wso2.py
  src/bitcaster/social/models.py
  src/bitcaster/webpush/dispatcher.py
  tests/admin/test_admin_assignment.py
  tests/conftest.py
  tests/models/test_model_media.png
  tests/social/test_social_wso2.py
Due: lint, test, checkCoverage, deploy-dev

WIP
  docs/BitcasterCD.drawio.png
  pdm.lock
  pyproject.toml
  src/bitcaster/config/settings.py
  src/bitcaster/forms/locking.py
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/bitcaster/locking/channel.html
  src/bitcaster/web/templates/bitcaster/locking/done.html
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/templates/bitcaster/locking/step1P.html
  src/bitcaster/web/templates/bitcaster/locking/step1U.html
  src/bitcaster/web/urls.py
  src/bitcaster/web/wizards.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

WIP
  docs/glossary/channel.md
  src/bitcaster/forms/locking.py
  src/bitcaster/web/templates/bitcaster/locking/channel.html
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/wizards.py
Due: lint, test, checkCoverage, deploy-dev

WIP
  src/bitcaster/config/__init__.py
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/templates/bitcaster/locking/project.html
  src/bitcaster/web/templates/bitcaster/locking/user.html
  src/bitcaster/web/wizards.py
  tests/web/test_locking.py
Due: lint, test, checkCoverage, deploy-dev

WIP
  src/bitcaster/forms/locking.py
  src/bitcaster/web/templates/bitcaster/locking/application.html
  src/bitcaster/web/templates/bitcaster/locking/done.html
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/templates/bitcaster/locking/project.html
  src/bitcaster/web/wizards.py
Due: lint, test, checkCoverage, deploy-dev

Implemented locking
  src/bitcaster/forms/locking.py
  src/bitcaster/migrations/0002_user_locked.py
  src/bitcaster/models/user.py
  src/bitcaster/social/migrations/0002_alter_socialprovider_provider.py
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/templates/bitcaster/locking/user.html
  src/bitcaster/web/wizards.py
  src/bitcaster/webpush/migrations/0001_initial.py
  tests/web/test_web_lock_application.py
  tests/web/test_web_lock_channel.py
  tests/web/test_web_lock_user.py
Due: lint, test, checkCoverage, deploy-dev

Create SECURITY.md
  SECURITY.md
Due: none

Initial quickstart userguide
  .gitignore
  docs/.pages
  docs/glossary/address.md
  docs/glossary/assignment.md
  docs/glossary/dispatcher.md
  docs/glossary/index.md
  docs/guidelines/development/BitcasterCD.drawio.png
  docs/guidelines/development/ReleaseStrategy.drawio.png
  docs/guidelines/development/class-diagram.md
  docs/guidelines/development/index.md
  docs/guidelines/development/release-strategy.md
  docs/guidelines/index.md
  docs/guidelines/userguide/quickstart.md
  docs/guidelines/wiki.md
  docs/index.md
  docs/todo.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
  src/bitcaster/web/templates/admin/channel/test.html
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

Created user guideline documentation
  docker/conf/circus.conf
  docs/glossary/api-key.md
  docs/glossary/distribution-list.md
  docs/glossary/event.md
  docs/glossary/grant.md
  docs/guidelines/development/BitcasterCD.drawio.png
  docs/guidelines/userguide/quickstart.md
  src/bitcaster/web/templates/bitcaster/index.html
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Updated docs
  docs/glossary/api-key.md
  docs/glossary/channel.md
  docs/glossary/index.md
  docs/glossary/notification.md
  docs/guidelines/development/BitcasterCD.drawio.png
  docs/guidelines/userguide/quickstart.md
Due: none

Adding schedule_occurrence task
  src/bitcaster/admin/occurrence.py
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0003_occurrence_parent_alter_occurrence_correlation_id.py
  src/bitcaster/models/event.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/tasks.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

add GH CI
  .github/.gitignore
  .github/actions/checksum/action.yml
  .github/actions/docker_build/action.yml
  .github/actions/last_commit/action.yml
  .github/codeql/codeql-config.yml
  .github/file-filters.yml
  .github/workflows/dump.yml
  .github/workflows/label-pullrequest.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/variables.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/issue.md
  .gitlab/pages/index.html
  README.md
  docker/Dockerfile
  docker/README.md
  docker/bin/docker-entrypoint.sh
  docker/bin/release-info.sh
  docker/conf/.dockerignore
  docker/conf/.gitignore
  docker/conf/circus.conf
  docker/conf/config.toml
  docker/conf/mime.types
  docker/conf/uwsgi.ini
  docker/marvel.txt
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

updates
  LICENSE
  README.md
  pyproject.toml
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates README
  README.md
Due: none

updates Dockerfile
  .gitignore
  docker/Dockerfile
  docker/README.md
  docker/bin/docker-entrypoint.sh
  docker/bin/release-info.sh
  docker/compose.yml
  docker/conf/uwsgi.ini
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

add docker compose
  .gitignore
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/compose.yml
  docker/conf/uwsgi.ini
  pyproject.toml
  src/bitcaster/config/__init__.py
  src/bitcaster/config/asgi.py
  src/bitcaster/config/wsgi.py
  src/bitcaster/management/commands/upgrade.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

move compose to root dir
  compose.yml
Due: none

updates
  docker/conf/uwsgi.ini
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

Tested compose. Improved docs
  compose.yml
  docs/guidelines/development/BitcasterCD.drawio.png
  docs/guidelines/userguide/quickstart.md
  src/bitcaster/admin/occurrence.py
  src/bitcaster/tasks.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

Updated CD
  docs/guidelines/development/BitcasterCD.drawio.png
Due: none

fixes tests
  docs/glossary/address.md
  docs/glossary/distribution-list.md
  docs/guidelines/development/release-strategy.md
  docs/guidelines/userguide/quickstart.md
  pyproject.toml
  src/bitcaster/admin/user.py
  src/bitcaster/apps.py
  src/bitcaster/constants.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/tasks.py
  src/bitcaster/web/wizards.py
  tests/admin/test_admin_assignment.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
  tests/web/test_web_lock_user.py
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fixes tests
  .pre-commit-config.yaml
  src/bitcaster/forms/locking.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/models/application.py
  tests/.coveragerc
  tests/conftest.py
  tests/test_bitcaster.py
  tests/test_tasks.py
  tests/web/test_web_lock_user.py
Due: lint, test, checkCoverage, deploy-dev

fixes tests
  tests/.coveragerc
Due: lint, test, checkCoverage

Removed obsoled code from Locking wizard
  src/bitcaster/web/wizards.py
Due: lint, test, checkCoverage, deploy-dev

updates mypy
  src/bitcaster/web/wizards.py
  tests/.coveragerc
  tests/admin/test_admin_address.py
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_application.py
  tests/admin/test_admin_assignment.py
  tests/admin/test_admin_channel.py
  tests/admin/test_admin_distribution.py
  tests/admin/test_admin_event.py
  tests/admin/test_admin_group.py
Due: lint, test, checkCoverage, deploy-dev

set Lock/Unlock handled by feature flag
  compose.yml
  src/bitcaster/admin/mixins.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/templates/admin/base.html
  src/bitcaster/web/templates/admin/index.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/bitcaster/locking/channel.html
  src/bitcaster/web/templates/bitcaster/locking/mode.html
  src/bitcaster/web/templates/bitcaster/locking/user.html
  src/bitcaster/web/urls.py
  tests/admin/test_admin_lock.py
  tests/admin/test_admin_smoke.py
  tests/web/conftest.py
  tests/web/test_web_lock_application.py
  tests/web/test_web_lock_channel.py
  tests/web/test_web_lock_user.py
Due: lint, test, checkCoverage, deploy-dev

add mypy check to tests
  .mypy.ini
  src/bitcaster/admin/application.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/mixins.py
  src/bitcaster/admin/project.py
  src/bitcaster/models/protocols.py
  tests/admin/test_admin_application.py
  tests/admin/test_admin_lock.py
  tests/admin/test_admin_message.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_organization.py
  tests/admin/test_admin_project.py
  tests/admin/test_admin_smoke.py
  tests/admin/test_admin_social.py
  tests/conftest.py
Due: lint, test, checkCoverage, deploy-dev

updates CI
  .github/workflows/lint.yml
  .github/workflows/release.yml
  compose.yml
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  src/bitcaster/config/settings.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

updates CI
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
Due: none

updates CI
  docker/Dockerfile
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

updates CI
  .github/actions/docker_build/action.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

updates CI
  .github/workflows/lint.yml
Due: none

updates CI ci:all
  .github/workflows/lint.yml
Due: none

updates CI ci:all
  .github/workflows/lint.yml
  README.md
  pyproject.toml
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates CI ci:all
  .github/actions/docker_build/action.yml
  .github/workflows/lint.yml
  README.md
Due: none
