Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

Adding Wso2 and Keycloak providers
  pyproject.toml
  src/bitcaster/config/settings.py
  src/bitcaster/social/backend/wso2.py
  src/bitcaster/social/models.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Adding Wso2 and Keycloak providers (#59)
  pyproject.toml
  src/bitcaster/config/settings.py
  src/bitcaster/social/backend/wso2.py
  src/bitcaster/social/models.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Fixed lint & mypy
  pyproject.toml
  src/bitcaster/config/__init__.py
  src/bitcaster/management/commands/env.py
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Fixed lint & mypy (#60)
  pyproject.toml
  src/bitcaster/config/__init__.py
  src/bitcaster/management/commands/env.py
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Fixed wrong user in entrypoint
  docker/bin/docker-entrypoint.sh
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

Fixed wrong user in entrypoint (#62)
  docker/bin/docker-entrypoint.sh
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

Fixed docker image
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/conf/uwsgi.ini
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

Fixed docker image (#63)
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/conf/uwsgi.ini
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

make bitcaster.initialize idempotent
  docs/dev-guide/setup.md
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
Due: lint, test, checkCoverage, deploy-dev

make bitcaster.initialize idempotent (#64)
  docs/dev-guide/setup.md
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
Due: lint, test, checkCoverage, deploy-dev

removed unused files
  .gitignore
  downloaded_files/dashboard.lock
Due: none

fixes template
  src/bitcaster/web/templates/bitcaster/admin/message/edit.html
Due: lint, test, checkCoverage, deploy-dev

feat(testing): Enhance test suite and error handling
  ruff.toml
  src/bitcaster/web/templates/bitcaster/errors/_base.html
  tests/.coveragerc
  tests/admin/test_admin_channel.py
  tests/extras/testutils/helpers.py
  tests/middleware/test_middleware_error.py
Due: lint, test, checkCoverage, deploy-dev

updates
  pytest.ini
  src/bitcaster/admin/address.py
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/application.py
  src/bitcaster/admin/assignment.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/apps.py
  src/bitcaster/config/settings.py
  src/bitcaster/config/urls.py
  src/bitcaster/console/__init__.py
  src/bitcaster/migrations/0004_alter_assignment_data.py
  src/bitcaster/web/templates/admin/channel/add_done.html
  src/bitcaster/web/templates/admin/channel/add_view.html
  src/bitcaster/web/templates/admin/channel/change_form.html
  src/bitcaster/web/templates/admin/channel/configure.html
  src/bitcaster/web/templates/admin/channel/lock.html
  src/bitcaster/web/templates/admin/channel/test.html
  src/bitcaster/web/templates/admin/message/change_form.html
  src/bitcaster/web/templates/admin/message/create_message_template.html
  src/bitcaster/web/templates/admin/message/edit.html
  src/bitcaster/web/templates/admin/message/usage.html
  src/bitcaster/web/templates/admin_extra_buttons/action_page.html
  src/bitcaster/web/templates/admin_extra_buttons/change_form.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/button.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/change_form_buttons.html
  tests/.coveragerc
  tests/admin/test_admin_channel.py
  tests/admin/test_admin_constance.py
  tests/admin/test_admin_monitor.py
Due: lint, test, checkCoverage, deploy-dev

updates multi-admin config
  src/bitcaster/admin/address.py
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/application.py
  src/bitcaster/admin/assignment.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/group.py
  src/bitcaster/admin/internal.py
  src/bitcaster/admin/media.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/mixins.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/admin_site.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/config/urls.py
  src/bitcaster/console/__init__.py
  src/bitcaster/multi_admin/__init__.py
  src/bitcaster/multi_admin/changelist.py
  src/bitcaster/multi_admin/modeladmin.py
  src/bitcaster/multi_admin/site.py
  src/bitcaster/web/templates/unfold/helpers/app_list.html
  src/bitcaster/webpush/admin.py
Due: lint, test, checkCoverage, deploy-dev

updates
  downloaded_files/dashboard.lock
  ruff.toml
  src/bitcaster/middleware/errors.py
  tests/.coveragerc
  tests/middleware/test_middleware_error.py
Due: lint, test, checkCoverage, deploy-dev

updates
  src/bitcaster/admin/member.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/adminfilters/json.html
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  tests/admin/test_admin_smoke.py
Due: lint, test, checkCoverage, deploy-dev

updates
  .gitignore
  src/bitcaster/admin/member.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/agents/ftp.py
  src/bitcaster/api/base.py
  src/bitcaster/api/user.py
  src/bitcaster/config/settings.py
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/tasks.py
  tests/.coveragerc
  tests/admin/test_admin_occurrence.py
  tests/admin/test_admin_smoke.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/member.py
  tests/extras/testutils/helpers.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Enhance Member administration with bulk actions
  src/bitcaster/admin/base.py
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/user.py
  src/bitcaster/config/fragments/filtering.py
  src/bitcaster/constants.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0007_delete_logentry_logentry.py
  src/bitcaster/models/log.py
  src/bitcaster/utils/filtering.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/admin/action_form.html
  src/bitcaster/web/templates/bitcaster/admin/user/update_custom_fields.html
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_event.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_user.py
  tests/api/test_api_trigger.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/member.py
  tests/extras/testutils/helpers.py
  tests/middleware/test_middleware_error.py
  tests/test_filtering.py
Due: lint, test, checkCoverage, deploy-dev

feat(notifications): Introduce dynamic recipient filtering
  src/bitcaster/admin/notification.py
  src/bitcaster/config/fragments/filtering.py
  src/bitcaster/utils/filering.py
  tests/extras/testutils/factories/__init__.py
  tests/middleware/test_middleware_error.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Enhance Member administration with bulk actions
  src/bitcaster/config/fragments/filtering.py
  src/bitcaster/utils/filering.py
  tests/extras/testutils/factories/__init__.py
  tests/middleware/test_middleware_error.py
Due: lint, test, checkCoverage, deploy-dev

feat(import): Assign members to a group on import
  docs/howto/import-members.md
  src/bitcaster/admin/member.py
  src/bitcaster/importing/members.py
  tests/data/members_mixed.csv
  tests/importing/test_import_members.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Add CSV import for Members
  src/bitcaster/admin/member.py
  src/bitcaster/web/templates/bitcaster/admin/members/import_members.html
  src/bitcaster/web/widgets.py
  tests/admin/test_admin_member.py
  tests/data/bulk_update.csv
  tests/extras/testutils/helpers.py
Due: lint, test, checkCoverage, deploy-dev

refactor(import): Enhance and modularize Member CSV importer
  docs/howto/.pages
  docs/howto/import-members.md
  src/bitcaster/admin/member.py
  src/bitcaster/admin/organization.py
  src/bitcaster/importing/__init__.py
  src/bitcaster/importing/members.py
  src/bitcaster/importing/utils.py
  src/bitcaster/utils/importer.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_organization.py
  tests/data/bulk_update.csv
  tests/data/members1.csv
  tests/data/members_clean_fields.csv
  tests/data/members_no_email.csv
  tests/data/members_ok.csv
  tests/importing/test_import_members.py
  tests/importing/test_import_utils.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Add user status toggles and audit logging
  src/bitcaster/admin/user.py
  tests/admin/test_admin_member.py
Due: lint, test, checkCoverage, deploy-dev

remove unused import
  src/bitcaster/admin/notification.py
Due: lint, test, checkCoverage, deploy-dev

Import members (#66)
  docs/howto/.pages
  docs/howto/import-members.md
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/user.py
  src/bitcaster/importing/__init__.py
  src/bitcaster/importing/members.py
  src/bitcaster/importing/utils.py
  src/bitcaster/utils/importer.py
  src/bitcaster/web/templates/bitcaster/admin/members/import_members.html
  src/bitcaster/web/widgets.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_organization.py
  tests/data/members1.csv
  tests/data/members_clean_fields.csv
  tests/data/members_mixed.csv
  tests/data/members_no_email.csv
  tests/data/members_ok.csv
  tests/extras/testutils/helpers.py
  tests/importing/test_import_members.py
  tests/importing/test_import_utils.py
Due: lint, test, checkCoverage, deploy-dev

feat(notifications): Introduce dynamic recipient filtering
  src/bitcaster/config/fragments/filtering.py
  src/bitcaster/utils/filering.py
  tests/extras/testutils/factories/__init__.py
  tests/middleware/test_middleware_error.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Add CSV import for Members
  tests/data/bulk_update.csv
Due: lint, test, checkCoverage

refactor(import): Enhance and modularize Member CSV importer
  tests/data/bulk_update.csv
Due: lint, test, checkCoverage

docs(api): Create comprehensive API documentation
  docs/.pages
  docs/api/.pages
  docs/api/applications.md
  docs/api/channels.md
  docs/api/distribution_lists.md
  docs/api/events.md
  docs/api/index.md
  docs/api/organizations.md
  docs/api/projects.md
  docs/api/system.md
  docs/api/users.md
Due: none

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
