Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

fix: PWA banner dismiss and cursor; assignment filters (#216)
  src/bitcaster/admin/assignment.py
  src/bitcaster/migrations/0022_alter_assignment_active.py
  src/bitcaster/models/assignment.py
  src/bitcaster/pwa/templates/pwa/base.html
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/theme/static_src/src/bitcaster.scss
Due: lint, test, checkCoverage, deploy-dev

fix(sso): resolve SSO login issues with provider lookup and template rendering
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/social/adapter.py
  src/bitcaster/social/admin.py
  src/bitcaster/web/templates/allauth/layouts/base.html
  src/bitcaster/web/templates/allauth/layouts/entrance.html
  src/bitcaster/web/templates/socialaccount/authentication_error.html
  tests/admin/test_admin_social.py
  tests/console/test_console_view.py
  tests/social/test_adapter.py
Due: lint, test, checkCoverage, deploy-dev

Fixed PR
  src/bitcaster/social/adapter.py
Due: lint, test, checkCoverage, deploy-dev

fix: hide Members menu item from users without view_member permission
  src/bitcaster/config/fragments/unfold.py
  tests/admin/test_admin_unfold.py
Due: lint, test, checkCoverage, deploy-dev

feat: add RabbitMQ dispatcher
  .agents/skills/linter/SKILL.md
  .ai/workflow.md
  pyproject.toml
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/rabbitmq.py
  tests/dispatchers/test_d_rabbitmq.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat: add django-axes for login attempt tracking and lockout protection
  pyproject.toml
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/axes.py
  src/bitcaster/config/settings.py
  tests/admin/test_admin_smoke.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix: guard ApiKeyForm against null project and environments
  src/bitcaster/admin/api_key.py
  tests/admin/test_admin_apikey.py
Due: lint, test, checkCoverage, deploy-dev

fix: hide Members menu item from users without view_member permission (#218)
  src/bitcaster/config/fragments/unfold.py
  tests/admin/test_admin_unfold.py
Due: lint, test, checkCoverage, deploy-dev

fix: guard ApiKeyForm against null project and environments (#227)
  src/bitcaster/admin/api_key.py
  tests/admin/test_admin_apikey.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): add unfold sidebar permissions, fix left menu visibility, guard assignment form
  mkdocs.yml
  pyproject.toml
  src/bitcaster/admin/application.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/user.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/forms/assignment.py
  src/bitcaster/web/dashboard/components/tracker.py
  src/bitcaster/web/templates/unfold/helpers/welcomemsg.html
  src/bitcaster/web/templates/unfold/layouts/skeleton.html
  src/bitcaster/webpush/admin.py
  tests/admin/test_admin_unfold.py
  tests/selenium/test_f_admin.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat(admin): add unfold sidebar permissions, fix left menu visibility, guard assignment form (#229)
  mkdocs.yml
  pyproject.toml
  src/bitcaster/admin/application.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/user.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/forms/assignment.py
  src/bitcaster/web/dashboard/components/tracker.py
  src/bitcaster/web/templates/unfold/helpers/welcomemsg.html
  src/bitcaster/web/templates/unfold/layouts/skeleton.html
  src/bitcaster/webpush/admin.py
  tests/admin/test_admin_unfold.py
  tests/selenium/test_f_admin.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat: add pinned distribution list with chained application field
  docs/adm-guide/dl.md
  docs/adm-guide/notification.md
  docs/api/distribution_lists.md
  docs/glossary/terms/distribution-list.md
  src/bitcaster/admin/distribution.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/unregister.py
  src/bitcaster/api/urls.py
  src/bitcaster/auth/constants.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0023_distributionlist_application.py
  src/bitcaster/migrations/0024_alter_apikey_grants.py
  src/bitcaster/migrations/0025_alter_distributionlist_application.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/notification.py
  tests/api/test_api_unregister.py
  tests/forms/test_notification.py
  tests/models/test_model_distribution.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

fix: make DistributionList application autocomplete filter by project and clear on change
  src/bitcaster/admin/application.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/web/static/admin/js/distribution-list.js
  src/bitcaster/web/static/admin/js/distribution-list.min.js
Due: lint, test, checkCoverage, deploy-dev

refactor(tests): split selenium admin tests by model and add distribution autocomplete test
  tests/selenium/test_f_admin.py
  tests/selenium/test_f_distribution.py
  tests/selenium/test_f_message.py
Due: lint, test, checkCoverage

fix: make DistributionList application autocomplete filter by project and clear on change (#230)
  docs/adm-guide/dl.md
  docs/adm-guide/notification.md
  docs/api/distribution_lists.md
  docs/glossary/terms/distribution-list.md
  src/bitcaster/admin/application.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/unregister.py
  src/bitcaster/api/urls.py
  src/bitcaster/auth/constants.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0023_distributionlist_application.py
  src/bitcaster/migrations/0024_alter_apikey_grants.py
  src/bitcaster/migrations/0025_alter_distributionlist_application.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/notification.py
  src/bitcaster/web/static/admin/js/distribution-list.js
  src/bitcaster/web/static/admin/js/distribution-list.min.js
  tests/api/test_api_unregister.py
  tests/forms/test_notification.py
  tests/models/test_model_distribution.py
  tests/models/test_model_notification.py
  tests/selenium/test_f_admin.py
  tests/selenium/test_f_distribution.py
  tests/selenium/test_f_message.py
Due: lint, test, checkCoverage, deploy-dev

feat: add RabbitMQ (AMQP) agent for event-based message consumption
  pyproject.toml
  src/bitcaster/agents/__init__.py
  src/bitcaster/agents/amqp.py
  tests/agents/test_agent_amqp.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat: add migration lockfile mechanism and update-migration tool
  bin/update-migration
  src/bitcaster/management/commands/makemigrations.py
Due: lint, test, checkCoverage, deploy-dev

feat(api): add project-level unregister endpoint
  docs/adm-guide/dl.md
  docs/api/distribution_lists.md
  src/bitcaster/api/permissions.py
  src/bitcaster/api/unregister.py
  src/bitcaster/api/urls.py
  src/bitcaster/auth/constants.py
  src/bitcaster/migrations/0026_alter_apikey_grants.py
  tests/api/test_api_unregister.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): manage Distribution List membership from Member page
  docs/adm-guide/dl.md
  src/bitcaster/admin/member.py
  src/bitcaster/models/user.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_member_extra.py
Due: lint, test, checkCoverage, deploy-dev

test(admin): cover ListsForm and ListsFormSet edge branches
  tests/admin/test_admin_member.py
Due: lint, test, checkCoverage

test: cover amqp agent connection and processing failure branches
  tests/agents/test_agent_amqp.py
Due: lint, test, checkCoverage

feat(admin): manage Distribution List membership from Member page (#235)
  docs/adm-guide/dl.md
  src/bitcaster/admin/member.py
  src/bitcaster/models/user.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_member_extra.py
Due: lint, test, checkCoverage, deploy-dev

Some drawio alignments
  docs/dev-guide/Bitcaster.drawio.png
Due: none

Some drawio alignments (#236)
  docs/dev-guide/Bitcaster.drawio.png
Due: none

feat(agents): add RabbitMQ (AMQP) agent for event-based message consumption (#231)
  pyproject.toml
  src/bitcaster/agents/__init__.py
  src/bitcaster/agents/amqp.py
  tests/agents/test_agent_amqp.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

build(deps): bump pika to >=1.3.2
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat: add RabbitMQ dispatcher (#225)
  .agents/skills/linter/SKILL.md
  .ai/workflow.md
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/rabbitmq.py
  tests/dispatchers/test_d_rabbitmq.py
Due: lint, test, checkCoverage, deploy-dev

feat(subscription): add Subscription model, admin and API endpoints
  docs/adm-guide/notification_policies.md
  docs/api/index.md
  docs/api/subscriptions.md
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/subscription.py
  src/bitcaster/api/subscription.py
  src/bitcaster/api/urls.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0026_subscription.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/choices.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/subscription.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_subscription.py
  tests/api/test_api_subscription.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/subscription.py
  tests/models/test_model_subscription.py
Due: lint, test, checkCoverage, deploy-dev

feat(subscription): Replace clean() with DB unique constraint and fix IDOR
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/api/subscription.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/migrations/0027_subscription_unique.py
  src/bitcaster/models/subscription.py
  tests/api/test_api_subscription.py
  tests/models/test_model_subscription.py
Due: lint, test, checkCoverage, deploy-dev

feat(subscription): Add Subscription model, API, admin UI and fix IDOR (#237)
  docs/adm-guide/notification_policies.md
  docs/api/index.md
  docs/api/subscriptions.md
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/subscription.py
  src/bitcaster/api/subscription.py
  src/bitcaster/api/urls.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0026_subscription.py
  src/bitcaster/migrations/0027_subscription_unique.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/choices.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/subscription.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_subscription.py
  tests/api/test_api_subscription.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/subscription.py
  tests/models/test_model_subscription.py
Due: lint, test, checkCoverage, deploy-dev

feat(simulation): add event and delivery simulation admin UI
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/deliverysimulation.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/eventsimulation.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/simulation.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/constants.py
  src/bitcaster/forms/event.py
  src/bitcaster/migrations/0028_eventsimulation_deliverysimulation.py
  src/bitcaster/migrations/0029_alter_event_options.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/deliverysimulation.py
  src/bitcaster/models/event.py
  src/bitcaster/models/eventsimulation.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/runner/config.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/web/templates/bitcaster/admin/event/debug_event.html
  src/bitcaster/web/templates/bitcaster/admin/event/includes/simulation_results.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/deliveries.html
  tests/admin/test_admin_event.py
  tests/admin/test_admin_eventsimulation.py
  tests/admin/test_admin_unfold.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/deliverysimulation.py
  tests/extras/testutils/factories/eventsimulation.py
  tests/forms/test_event_form.py
  tests/models/test_model_deliverysimulation.py
  tests/models/test_model_occurence.py
  tests/runner/test_runner_tasks.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): enhance event simulation debug and admin UI
  src/bitcaster/admin/event.py
  src/bitcaster/admin/eventsimulation.py
  src/bitcaster/forms/event.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/models/organization.py
  src/bitcaster/web/templates/bitcaster/admin/event/debug_event.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/change_form.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/curl_command.html
  tests/admin/test_admin_event.py
  tests/admin/test_admin_eventsimulation.py
  tests/admin/test_admin_organization.py
  tests/conftest.py
  tests/forms/test_event_form.py
Due: lint, test, checkCoverage, deploy-dev

test: cover remaining partial branches in debug forms and purge task
  tests/forms/test_event_form.py
  tests/runner/test_runner_tasks.py
Due: lint, test, checkCoverage

feat: Event and Delivery simulation admin UI (#238)
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/deliverysimulation.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/eventsimulation.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/simulation.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/constants.py
  src/bitcaster/forms/event.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0028_eventsimulation_deliverysimulation.py
  src/bitcaster/migrations/0029_alter_event_options.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/deliverysimulation.py
  src/bitcaster/models/event.py
  src/bitcaster/models/eventsimulation.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/runner/config.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/web/templates/bitcaster/admin/event/debug_event.html
  src/bitcaster/web/templates/bitcaster/admin/event/includes/simulation_results.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/change_form.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/curl_command.html
  src/bitcaster/web/templates/bitcaster/admin/eventsimulation/deliveries.html
  tests/admin/test_admin_event.py
  tests/admin/test_admin_eventsimulation.py
  tests/admin/test_admin_organization.py
  tests/admin/test_admin_unfold.py
  tests/conftest.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/deliverysimulation.py
  tests/extras/testutils/factories/eventsimulation.py
  tests/forms/test_event_form.py
  tests/models/test_model_deliverysimulation.py
  tests/models/test_model_occurence.py
  tests/runner/test_runner_tasks.py
Due: lint, test, checkCoverage, deploy-dev

feat(help): add admin documentation links and full docs coverage
  docs/adm-guide/.pages
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/address.md
  docs/adm-guide/app.md
  docs/adm-guide/attachment.md
  docs/adm-guide/channel_enable.md
  docs/adm-guide/events.md
  docs/adm-guide/media.md
  docs/adm-guide/member.md
  docs/adm-guide/message.md
  docs/adm-guide/occurrence.md
  docs/adm-guide/process_log.md
  docs/adm-guide/stream.md
  docs/adm-guide/structure.md
  docs/adm-guide/subscription.md
  docs/adm-guide/system_log.md
  docs/adm-guide/tasks.md
  docs/adm-guide/user_management.md
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/help.py
  src/bitcaster/config/settings.py
  src/bitcaster/help/__init__.py
  src/bitcaster/help/apps.py
  src/bitcaster/help/checks.py
  src/bitcaster/help/links.py
  src/bitcaster/help/templatetags/__init__.py
  src/bitcaster/help/templatetags/help.py
  src/bitcaster/utils/markdown.py
  src/bitcaster/web/context_processors.py
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/unfold/helpers/userlinks.html
  tests/help/test_help_checks.py
  tests/help/test_links.py
  tests/help/test_render.py
  tests/help/test_settings.py
  tests/help/test_tags.py
Due: lint, test, checkCoverage, deploy-dev

feat(help): add admin documentation links and full docs coverage (#239)
  docs/adm-guide/.pages
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/address.md
  docs/adm-guide/app.md
  docs/adm-guide/attachment.md
  docs/adm-guide/channel_enable.md
  docs/adm-guide/events.md
  docs/adm-guide/media.md
  docs/adm-guide/member.md
  docs/adm-guide/message.md
  docs/adm-guide/occurrence.md
  docs/adm-guide/process_log.md
  docs/adm-guide/stream.md
  docs/adm-guide/structure.md
  docs/adm-guide/subscription.md
  docs/adm-guide/system_log.md
  docs/adm-guide/tasks.md
  docs/adm-guide/user_management.md
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/help.py
  src/bitcaster/config/settings.py
  src/bitcaster/help/__init__.py
  src/bitcaster/help/apps.py
  src/bitcaster/help/checks.py
  src/bitcaster/help/links.py
  src/bitcaster/help/templatetags/__init__.py
  src/bitcaster/help/templatetags/help.py
  src/bitcaster/utils/markdown.py
  src/bitcaster/web/context_processors.py
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/unfold/helpers/userlinks.html
  tests/help/test_help_checks.py
  tests/help/test_links.py
  tests/help/test_render.py
  tests/help/test_settings.py
  tests/help/test_tags.py
Due: lint, test, checkCoverage, deploy-dev

feat: add Delivery model and two-phase occurrence processing (#239)
  .ai/domain.md
  docs/glossary/terms/delivery.md
  src/bitcaster/admin/delivery.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/register.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/constants.py
  src/bitcaster/migrations/0030_delivery.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/delivery.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/runner/config.py
  src/bitcaster/runner/tasks.py
  tests/admin/test_admin_occurrence.py
  tests/admin/test_admin_unfold.py
  tests/api/test_api_trigger.py
  tests/console/test_console_tasks.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/delivery.py
  tests/models/test_model_delivery.py
  tests/models/test_model_occurence.py
  tests/models/test_model_subscription.py
  tests/runner/test_runner_tasks.py
  tests/test_notify.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

Rebased and implemented PR review
  src/bitcaster/social/admin.py
  src/bitcaster/social/forms.py
  src/bitcaster/social/utils.py
  tests/admin/test_admin_social.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/social.py
  tests/social/test_utils.py
Due: lint, test, checkCoverage, deploy-dev

Fixed PR comment on bitcaster.social.adapter.BitcasterSocialAccountAdapter.get_app
  src/bitcaster/social/adapter.py
Due: lint, test, checkCoverage, deploy-dev

Fixed mypy
  src/bitcaster/social/adapter.py
  tests/social/test_adapter.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev
