Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

dashboard and menu
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  src/bitcaster/admin_site.py
  src/bitcaster/apps.py
  src/bitcaster/cache/handlers.py
  src/bitcaster/cache/storage.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/constants.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/base.html
  src/bitcaster/web/templates/admin/bc_sidebar.html
  src/bitcaster/web/templates/admin/change_form.html
  src/bitcaster/web/templates/admin/change_list.html
  src/bitcaster/web/templates/admin/dashboard.html
  src/bitcaster/web/templates/admin/index.html
  src/bitcaster/web/templates/admin/message/create_message_template.html
  src/bitcaster/web/templates/admin/nav_sidebar2.html
  src/bitcaster/web/templates/admin_extra_buttons/action_page.html
  src/bitcaster/web/templates/admin_extra_buttons/change_form.html
  src/bitcaster/web/templates/admin_extra_buttons/change_list.html
  tests/admin/test_admin_index.py
  tests/admin/test_admin_smoke.py
  tests/extras/testutils/factories/occurrence.py
  tests/test_cache.py
Due: lint, test, checkCoverage, deploy-dev

let use cookie session
  src/bitcaster/admin/overrides.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin_site.py
  src/bitcaster/cache/storage.py
  src/bitcaster/config/settings.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  tests/admin/test_admin_index.py
  tests/test_cache.py
Due: lint, test, checkCoverage, deploy-dev

RESET MIGRATIONS
  docs/.pages
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/_theme/css/style.scss
  docs/adm-guide/_screenshots/add_key.png
  docs/adm-guide/api_key.md
  docs/glossary/terms/event.md
  docs/howto/.pages
  docs/howto/env_routes.md
  docs/howto/shelll.md
  docs/links.md
  docs/run.md
  docs/stacks/.pages
  mkdocs.yml
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/event.py
  src/bitcaster/cache/storage.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/event.py
  src/bitcaster/models/mixins.py
  src/bitcaster/social/migrations/0001_initial.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/apikey/created.html
  src/bitcaster/web/templates/admin/base.html
  src/bitcaster/web/templates/admin/bitcaster/event/change_form.html
  src/bitcaster/web/templates/admin/bitcaster/event/notifications.html
  src/bitcaster/web/templates/admin/bitcaster/event/subscribe_event.html
  src/bitcaster/web/templates/admin/bitcaster/event/test_event.html
  src/bitcaster/web/templates/admin/dashboard.html
  src/bitcaster/webpush/migrations/0001_initial.py
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_index.py
  tests/test_cache.py
Due: lint, test, checkCoverage, deploy-dev

check env availability for notification/apikey vs project
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/project.py
  src/bitcaster/forms/notification.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/dashboard.scss
  src/bitcaster/web/static/bitcaster/css/sidebar.scss
  src/bitcaster/web/templates/admin/apikey/created.html
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_index.py
  tests/admin/test_admin_notification.py
  tests/test_cache.py
Due: lint, test, checkCoverage, deploy-dev

ad copy trigger url to clipboard
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/adm-guide/quickstart.md
  docs/adm-guide/structure.md
  docs/index.md
  src/bitcaster/admin/application.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin_site.py
  src/bitcaster/forms/application.py
  src/bitcaster/handlers.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/static/bitcaster/js/copy.js
  src/bitcaster/web/templates/admin/base.html
  src/bitcaster/web/templates/admin/bitcaster/event/change_form.html
  src/bitcaster/web/templates/admin/change_form.html
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_application.py
  tests/admin/test_admin_index.py
  tests/test_commands.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/_hooks/hooks.py
  docs/_theme/js/address.js
  docs/_theme/overrides/partials/footer.html
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/web/static/bitcaster/css/dashboard.css
  src/bitcaster/web/static/bitcaster/css/dashboard.css.map
  src/bitcaster/web/static/bitcaster/css/sidebar.css
  src/bitcaster/web/static/bitcaster/css/sidebar.css.map
Due: lint, test, checkCoverage, deploy-dev

updates css
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  src/bitcaster/web/static/bitcaster/css/.gitignore
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.css
  src/bitcaster/web/static/bitcaster/css/colors.css.map
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/dashboard.css
  src/bitcaster/web/static/bitcaster/css/dashboard.css.map
  src/bitcaster/web/static/bitcaster/css/dashboard.scss
  src/bitcaster/web/static/bitcaster/css/defs.scss
  src/bitcaster/web/static/bitcaster/css/editor.css.map
  src/bitcaster/web/static/bitcaster/css/editor.scss
  src/bitcaster/web/static/bitcaster/css/sidebar.css
  src/bitcaster/web/static/bitcaster/css/sidebar.css.map
  src/bitcaster/web/static/bitcaster/css/sidebar.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/base.html
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/index.md
Due: none

updates docs
  CONTRIBUTING.md
  docs/dev-guide/setup.md
  mkdocs.yml
Due: none

pypy updates
  src/bitcaster/admin/organization.py
  src/bitcaster/admin_site.py
  src/bitcaster/apps.py
  src/bitcaster/constants.py
  src/bitcaster/forms/notification.py
  src/bitcaster/management/commands/env.py
  stack-samples/develop/compose.yml
Due: lint, test, checkCoverage, deploy-dev

updates mypy
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/project.py
  src/bitcaster/cache/storage.py
  src/bitcaster/web/static/bitcaster/css/.gitignore
Due: lint, test, checkCoverage, deploy-dev

add setuptools to dev dependencies due to the deprecation of distutils
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

add tox support
  pdm.lock
  pyproject.toml
  tox.ini
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates CI
  .github/actions/docker_build/action.yml
  docs/links.md
Due: none

updates CI
  .github/actions/docker_build/action.yml
Due: none

add agents and AgentFileSystem
  pdm.lock
  pyproject.toml
  src/bitcaster/agents/__init__.py
  src/bitcaster/agents/base.py
  src/bitcaster/agents/fs.py
  src/bitcaster/agents/ftp
  src/bitcaster/agents/imap.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/migrations/0002_monitor.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/monitor.py
  tests/agents/test_agent_fs.py
  tests/extras/testutils/agent.py
  tests/extras/testutils/factories/monitor.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

custom LogEntry
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/internal.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/overrides.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin_site.py
  src/bitcaster/agents/base.py
  src/bitcaster/agents/fs.py
  src/bitcaster/agents/imap.py
  src/bitcaster/apps.py
  src/bitcaster/checks.py
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/agents.py
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/log.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0002_monitor.py
  src/bitcaster/migrations/0003_logentry.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/internal.py
  src/bitcaster/models/log.py
  src/bitcaster/models/mixins.py
  src/bitcaster/models/monitor.py
  src/bitcaster/tasks.py
  src/bitcaster/web/templates/admin/bitcaster/action_form.html
  src/bitcaster/web/templates/admin/bitcaster/monitor/change_form.html
  src/bitcaster/web/templates/admin/dashboard.html
  tests/admin/test_admin_monitor.py
  tests/agents/test_agent_fs.py
  tests/dispatchers/test_d_log.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/internal.py
  tests/extras/testutils/factories/log.py
  tests/extras/testutils/factories/user.py
  tests/models/test_model_log.py
  tests/test_checks.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

admin tweaks
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/filters.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/models/application.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/defs.scss
  src/bitcaster/web/static/bitcaster/css/editor.css
  src/bitcaster/web/static/bitcaster/css/editor.css.map
  src/bitcaster/web/static/bitcaster/js/copy.js
  src/bitcaster/web/templates/admin/apikey/created.html
  src/bitcaster/web/templates/admin/base.html
  src/bitcaster/web/templates/admin/submit_line.html
  tests/admin/test_admin_apikey.py
  tests/extras/testutils/agent.py
  tests/extras/testutils/factories/org.py
  tests/models/test_model_application.py
Due: lint, test, checkCoverage, deploy-dev

add docs
  docs/adm-guide/.pages
  docs/adm-guide/_screenshots/monitor/1.png
  docs/adm-guide/_screenshots/monitor/2.png
  docs/adm-guide/_screenshots/monitor/3.png
  docs/adm-guide/_screenshots/monitor/4.png
  docs/adm-guide/agents.md
  docs/adm-guide/message.md
  docs/adm-guide/monitor.md
  docs/configuration.md
  docs/glossary/terms/agents.md
  docs/glossary/terms/monitor.md
  src/bitcaster/admin/monitor.py
  src/bitcaster/web/templates/admin/bitcaster/monitor/change_form.html
Due: lint, test, checkCoverage, deploy-dev

add tests
  tests/admin/test_admin_monitor.py
Due: lint, test, checkCoverage

removes locokig wizard
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/mixins.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/forms/locking.py
  src/bitcaster/utils/crontab.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/defs.scss
  src/bitcaster/web/templates/admin/bitcaster/monitor/change_form.html
  src/bitcaster/web/templates/admin/index.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templatetags/usage.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/wizards.py
  tests/utils/test_utils_crontab.py
  tests/web/test_web_lock_application.py
  tests/web/test_web_lock_channel.py
  tests/web/test_web_lock_user.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

update CI
  .github/workflows/lint.yml
Due: none

updates CI
  .github/workflows/lint.yml
Due: none

updates CI
  .github/workflows/lint.yml
  src/bitcaster/types/django.pyi
Due: lint, test, checkCoverage, deploy-dev

lint
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/project.py
  src/bitcaster/models/mixins.py
  src/bitcaster/types/django.pyi
Due: lint, test, checkCoverage, deploy-dev

clean migrations
  pdm.lock
  pyproject.toml
  src/bitcaster/config/settings.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/migrations/0002_logentry.py
  src/bitcaster/migrations/0002_monitor.py
  src/bitcaster/models/log.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/webpush/migrations/0001_initial.py
  tox.ini
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates dockerfile
  .dockerignore
  docker/Dockerfile
  pdm.lock
  pyproject.toml
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/management/commands/env.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/key.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/constance.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates dockerfile
  docker/Dockerfile
  src/bitcaster/config/fragments/constance.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

updtes CI
  .github/workflows/lint.yml
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updtes CI
  .github/workflows/lint.yml
Due: none

fixes url redirect possible issue
  src/bitcaster/admin/channel.py
Due: lint, test, checkCoverage, deploy-dev

updates tests
  src/bitcaster/admin/channel.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/utils/constance.py
  tests/admin/test_admin_channel.py
  tests/admin/test_admin_constance.py
  tests/conftest.py
  tests/utils/test_utils_constance.py
Due: lint, test, checkCoverage, deploy-dev

removes pdm plugins
  pyproject.toml
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

raise verbosity in CI tests
  .github/workflows/test.yml
  docker/Dockerfile.1
Due: deploy-dev

updates tests
  .github/workflows/test.yml
  tests/agents/test_agent_ftp.py
Due: lint, test, checkCoverage

fixes CI labeler condition
  .github/workflows/label-pullrequest.yml
Due: none

updates Dockerfile
  .github/actions/docker_build/action.yml
  .github/workflows/test.yml
  docker/Dockerfile
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

updates CI
  .github/workflows/test.yml
Due: none

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
