Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

Fixed typing
  src/bitcaster/models/distribution.py
Due: lint, test, checkCoverage, deploy-dev

removed pdm for uv
  .github/workflows/test.yml
  CHANGELOG
  MANIFEST.in
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/conf/uwsgi.ini
  pyproject.toml
  src/bitcaster/apps.py
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/models/event.py
  tests/admin/test_admin_message.py
  tests/test_flags.py
  uv.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

CI removes wrong pytest argument
  .github/workflows/test.yml
Due: none

fixes CI mypy
  .github/workflows/lint.yml
Due: none

updates Doeckerfile to use uv
  MANIFEST.in
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

removed pdm for uv (#35)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CHANGELOG
  MANIFEST.in
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/conf/uwsgi.ini
  pyproject.toml
  src/bitcaster/apps.py
  src/bitcaster/constants.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/models/event.py
  tests/admin/test_admin_message.py
  tests/test_flags.py
  uv.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Updated CD drawio
  docs/_guidelines/development/BitcasterCD.drawio.png
Due: none

-a
  src/bitcaster/dispatchers/base.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

Introduced Django 5.2.1
  docs/glossary/terms/grant.md
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Fixing github actions
  .github/dependabot.yml
  .github/workflows/lint.yml
Due: none

Fixing builds
  docker/Dockerfile
  docs/glossary/terms/grant.md
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

CI: fixes test.yml
  .github/workflows/test.yml
Due: none

CI: updates tests
  .github/file-filters.yml
  .github/workflows/test.yml
  pytest.ini
Due: none

CI: updates tests
  junit.xml
  tox.ini
Due: none

CI: updates codecov
  .github/workflows/test.yml
Due: none

CI: updates test.yml
  .github/workflows/test.yml
Due: none

CI: updates test/codecov
  .github/workflows/test.yml
Due: none

CI: upgrade codecov version
  .github/workflows/test.yml
  uv.lock
Due: none

reformat tox.ini and set coverage.xml location
  tox.ini
Due: none

CI: format tox.ini
  tox.ini
Due: none

CI: updates
  .github/workflows/test.yml
  .gitignore
  README.md
Due: none

fixex Docker build
  .dockerignore
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

updates coverage config
  docker/Dockerfile
  tox.ini
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

updates tox/pytest config
  pyproject.toml
  pytest.ini
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates deps
  pyproject.toml
  src/bitcaster/admin/application.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/user.py
  src/bitcaster/social/admin.py
  tests/admin/test_admin_smoke.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fixes mypy
  src/bitcaster/webpush/admin.py
Due: lint, test, checkCoverage, deploy-dev

enable xdist
  tests/.coveragerc
  tox.ini
Due: lint, test, checkCoverage

updates tests
  .github/workflows/test.yml
  downloaded_files/dashboard.lock
  pyproject.toml
  pytest.ini
  tests/.coveragerc
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates deps
  .github/workflows/test.yml
  downloaded_files/dashboard.lock
  pyproject.toml
  pytest.ini
  src/bitcaster/admin/application.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/user.py
  src/bitcaster/social/admin.py
  src/bitcaster/webpush/admin.py
  tests/.coveragerc
  tests/admin/test_admin_smoke.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Adding EXTRA_APPS in INSTALLED_APPS
  src/bitcaster/config/__init__.py
  src/bitcaster/config/settings.py
Due: lint, test, checkCoverage, deploy-dev

Adding EXTRA_APPS in INSTALLED_APPS (#58)
  src/bitcaster/config/__init__.py
  src/bitcaster/config/settings.py
Due: lint, test, checkCoverage, deploy-dev

Updated diagram
  docs/_guidelines/development/BitcasterCD.drawio.png
  src/bitcaster/management/commands/env.py
Due: lint, test, checkCoverage, deploy-dev

Updated diagram (#57)
  docs/_guidelines/development/BitcasterCD.drawio.png
  src/bitcaster/management/commands/env.py
Due: lint, test, checkCoverage, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
