Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

docs: document HMAC-only authentication for web clients
  docs/adm-guide/web-client.md
  docs/configuration.md
Due: none

chore(deps): add sqlparse dependency
  .ai/dispatchers.md
  pyproject.toml
  tests/docker/conftest.py
  tests/test_smartenv.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

docs: Add project code conventions document
  .ai/best-practices.md
Due: none

chore(deps): bump boto3-stubs minimum version to 1.43
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

docs(readme): add missing dispatchers to dispatchers table
  README.md
Due: none

fix(admin): restore Save button on Event add page (#290)
  src/bitcaster/admin/base.py
  tests/admin/test_admin_event.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

Updating release gh-action
  .github/workflows/release.yml
Due: none
