Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

updates CI ci:all
  .github/workflows/lint.yml
Due: none

updates CI ci:all
  .github/workflows/test.yml
Due: none

updates CI ci:all
  .github/workflows/test.yml
  tests/conftest.py
Due: lint, test, checkCoverage

updates CI ci:all
  tests/conftest.py
Due: lint, test, checkCoverage

updates CI ci:all
  .github/workflows/lint.yml
  .gitignore
  pdm.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage

updates CI ci:all
  .github/workflows/lint.yml
  src/bitcaster/middleware/minify.py
  src/bitcaster/middleware/user_agent.py
  src/bitcaster/types/http.pyi
Due: lint, test, checkCoverage, deploy-dev

updates CI ci:all
  src/bitcaster/middleware/minify.py
  src/bitcaster/middleware/user_agent.py
Due: lint, test, checkCoverage, deploy-dev

updates CI ci:all
  src/bitcaster/middleware/minify.py
  src/bitcaster/middleware/user_agent.py
  src/bitcaster/types/http.pyi
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  tests/webpush/test_p_views.py
Due: lint, test, checkCoverage, deploy-dev

ci: 2024-07-25 16:18 - ci:all
  .github/workflows/lint.yml
  .github/workflows/test.yml
  codecov.yml
  private_key.pem
  public_key.pem
  tests/conftest.py
Due: lint, test, checkCoverage

ci: 2024-07-25 16:18 - ci:all
  public_key.pem
Due: none

ci: 2024-07-25 16:19 - ci:all
  private_key.pem
Due: none

updates CI ci:all
  pytest.ini
Due: none

ci: 2024-07-25 20:52 - ci:all
  .github/workflows/test.yml
Due: none

Feature/ci (#7)
  .github/actions/docker_build/action.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  codecov.yml
  compose.yml
  docker/bin/docker-entrypoint.sh
  pdm.lock
  pyproject.toml
  pytest.ini
  src/bitcaster/config/settings.py
  src/bitcaster/middleware/minify.py
  src/bitcaster/middleware/user_agent.py
  src/bitcaster/types/http.pyi
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  tests/conftest.py
  tests/webpush/test_p_views.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

updates CI
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  LICENSE.md
  README.md
Due: none

updates CI
  .github/dependabot.yml
Due: none

updates CI
  .github/dependabot.yml
  .github/workflows/dump.yml
Due: none

updates CI
  .github/file-filters.yml
  .github/workflows/test.yml
Due: none

updates CI
  .github/workflows/test.yml
Due: none

Feature/dependabot (#8)
  .github/dependabot.yml
  .github/file-filters.yml
  .github/workflows/codeql.yml
  .github/workflows/dump.yml
  .github/workflows/test.yml
  LICENSE.md
  README.md
Due: none

Added Occurrence retention in Even model
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/migrations/0004_event_occurrence_retention_alter_application_owner.py
  src/bitcaster/models/event.py
Due: lint, test, checkCoverage, deploy-dev

Implemented purgeable filter for Occurrence model
  src/bitcaster/models/occurrence.py
  tests/models/test_model_occurence.py
Due: lint, test, checkCoverage, deploy-dev

Quickstart documentation update Occurence model code comment
  docs/guidelines/userguide/quickstart.md
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Quickstart documentation update Added FIXME in models address for assignment validation missing feature Added warning log in models notification in case of missing message template
  docs/guidelines/userguide/quickstart.md
  src/bitcaster/models/address.py
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev

CONTRIB documentation update Small import fix in web urls file
  CONTRIBUTING.md
  src/bitcaster/web/urls.py
Due: lint, test, checkCoverage, deploy-dev

Included Git related configuration in CONTRIB
  CONTRIBUTING.md
Due: none

Fixed import with isor in Notification model
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev

Applied lint
  src/bitcaster/models/event.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Implemented Celery task for Occurrences purge
  src/bitcaster/tasks.py
  tests/conftest.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

Updated upgrade command with purge_occurences default schedule
  src/bitcaster/management/commands/upgrade.py
Due: lint, test, checkCoverage, deploy-dev

Implemented admin button for Occurrences purge trigger
  src/bitcaster/admin/occurrence.py
  tests/admin/test_admin_occurrence.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev
