Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

increase footer bottom margin
  src/bitcaster/web/templates/bitcaster/fragments/footer.html
Due: lint, test, checkCoverage, deploy-dev

fix(admin): correct user management and update dependencies
  pyproject.toml
  src/bitcaster/admin/user.py
  src/bitcaster/management/commands/env.py
  src/bitcaster/web/templates/admin/change_form.html
  tests/admin/test_admin_user.py
  tests/extras/testutils/helpers.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates security workflow
  .github/workflows/security.yml
Due: none

fix(admin): correct user management and update dependencies (#111)
  .github/workflows/security.yml
  pyproject.toml
  src/bitcaster/admin/user.py
  src/bitcaster/management/commands/env.py
  src/bitcaster/web/templates/admin/change_form.html
  tests/admin/test_admin_user.py
  tests/extras/testutils/helpers.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

add MS Teams Dispatcher and generic markdown support (#96)
  docs/adm-guide/dispatchers.md
  src/bitcaster/admin/message.py
  src/bitcaster/config/settings.py
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/teams.py
  src/bitcaster/forms/message.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/web/static/bitcaster/js/editor.js
  src/bitcaster/web/static/bitcaster/js/editor.min.js
  src/bitcaster/web/templates/bitcaster/admin/message/edit.html
  tests/dispatchers/test_d_teams.py
Due: lint, test, checkCoverage, deploy-dev

chore(deps): upgrade pypa/gh-action-pypi-publish to v1.13.0
  .github/workflows/release.yml
  README.md
Due: none

chore(deps): upgrade pypa/gh-action-pypi-publish to v1.13.0 (#112)
  .github/workflows/release.yml
  README.md
Due: none

feat: add attachment model, API and template tag
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/application.py
  src/bitcaster/admin/attachment.py
  src/bitcaster/admin/register.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/urls.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/exceptions.py
  src/bitcaster/forms/application.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/migrations/0012_application_advanced_configuration_attachment.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/application.py
  src/bitcaster/models/attachment.py
  src/bitcaster/utils/attachment.py
  src/bitcaster/web/templates/bitcaster/admin/application/configure.html
  src/bitcaster/web/templatetags/attachment.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  tests/admin/test_admin_application.py
  tests/api/test_api_attachment.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/attachment.py
  tests/models/test_model_attachment.py
  tests/models/test_natural_key.py
  tests/samples/test.txt
  tests/utils/test_utils_attachment.py
  tests/web/test_web_tags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

fix: remove attachment download API endpoint and view
  src/bitcaster/admin/application.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/urls.py
  tests/api/test_api_attachment.py
Due: lint, test, checkCoverage, deploy-dev

feat: introduce attachments (#102)
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/application.py
  src/bitcaster/admin/attachment.py
  src/bitcaster/admin/register.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/urls.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/exceptions.py
  src/bitcaster/forms/application.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/migrations/0012_application_advanced_configuration_attachment.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/application.py
  src/bitcaster/models/attachment.py
  src/bitcaster/utils/attachment.py
  src/bitcaster/web/templates/bitcaster/admin/application/configure.html
  src/bitcaster/web/templatetags/attachment.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  tests/admin/test_admin_application.py
  tests/api/test_api_attachment.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/attachment.py
  tests/models/test_model_attachment.py
  tests/models/test_natural_key.py
  tests/samples/test.txt
  tests/utils/test_utils_attachment.py
  tests/web/test_web_tags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

feat(Occurrence): Added Constance variable OCCURRENCE_MAX_RETENTION
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/constance.py
  src/bitcaster/admin/register.py
  src/bitcaster/auth/constants.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/utils/constance.py
  tests/admin/test_admin_constance.py
Due: lint, test, checkCoverage, deploy-dev

Moved Occurence-Retention-related constants to bitcaster.constants module
  src/bitcaster/admin/constance.py
  src/bitcaster/auth/constants.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/constants.py
Due: lint, test, checkCoverage, deploy-dev

Added Constance variable OCCURRENCE_MAX_RETENTION (#120)
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/constance.py
  src/bitcaster/admin/register.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/constants.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/utils/constance.py
  tests/admin/test_admin_constance.py
Due: lint, test, checkCoverage, deploy-dev

feat(social): convert SocialProvider.label property to database field
  src/bitcaster/migrations/0013_alter_channel_protocol.py
  src/bitcaster/social/migrations/0002_socialprovider_label.py
  src/bitcaster/social/migrations/0003_alter_socialprovider_label.py
  src/bitcaster/social/models.py
  tests/extras/testutils/factories/social.py
Due: lint, test, checkCoverage, deploy-dev

Fixes for labelize workflow
  .github/workflows/labelize.yml
Due: none

feat(social): Fix #119 convert SocialProvider.label property to database field (#121)
  .github/workflows/labelize.yml
  src/bitcaster/migrations/0013_alter_channel_protocol.py
  src/bitcaster/social/migrations/0002_socialprovider_label.py
  src/bitcaster/social/migrations/0003_alter_socialprovider_label.py
  src/bitcaster/social/models.py
  tests/extras/testutils/factories/social.py
Due: lint, test, checkCoverage, deploy-dev

refactor(dispatchers): rework Mailjet dispatcher to use REST client
  src/bitcaster/dispatchers/email.py
  src/bitcaster/dispatchers/mailjet.py
  src/bitcaster/forms/unfold.py
  tests/conftest.py
  tests/dispatchers/mailjet.yaml
  tests/dispatchers/test_d_mailjet.py
Due: lint, test, checkCoverage, deploy-dev

Imrpoved index.md
  docs/index.md
Due: none

Imrpoved index.md (#123)
  docs/index.md
Due: none

Update index.md
  docs/index.md
Due: none

Update index.md (#124)
  docs/index.md
Due: none

refactor(dispatchers): rework Mailjet dispatcher to use REST client (#125)
  src/bitcaster/dispatchers/email.py
  src/bitcaster/dispatchers/mailjet.py
  src/bitcaster/forms/unfold.py
  tests/conftest.py
  tests/dispatchers/mailjet.yaml
  tests/dispatchers/test_d_mailjet.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/adm-guide/dispatchers.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/email.md
  docs/adm-guide/dispatchers/gmail.md
  docs/adm-guide/dispatchers/log.md
  docs/adm-guide/dispatchers/mailgun.md
  docs/adm-guide/dispatchers/mailjet.md
  docs/adm-guide/dispatchers/sendgrid.md
  docs/adm-guide/dispatchers/slack.md
  docs/adm-guide/dispatchers/sys.md
  docs/adm-guide/dispatchers/teams.md
  docs/adm-guide/dispatchers/twilio.md
  docs/dev-guide/setup.md
Due: none

refactor: unify key management and add recipients view
  src/bitcaster/admin/attachment.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/exceptions.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/migrations/0014_attachment_filename_alter_attachment_correlation_id_and_more.py
  src/bitcaster/models/attachment.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/attachment.py
  src/bitcaster/utils/http.py
  src/bitcaster/utils/security.py
  src/bitcaster/utils/shortcuts.py
  src/bitcaster/web/templates/admin_extra_buttons/includes/attrs.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/choice.html
  src/bitcaster/web/templates/bitcaster/recipients.html
  src/bitcaster/web/templatetags/attachment.py
  src/bitcaster/web/templatetags/attachments.py
  src/bitcaster/web/templatetags/bitcaster.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  tests/models/test_model_notification.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
  tests/utils/test_utils_attachment.py
  tests/web/test_web_tags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

fixes tags and template
  src/bitcaster/admin/message.py
  src/bitcaster/web/templates/bitcaster/recipients.html
Due: lint, test, checkCoverage, deploy-dev

updates docs (#127)
  docs/adm-guide/dispatchers.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/email.md
  docs/adm-guide/dispatchers/gmail.md
  docs/adm-guide/dispatchers/log.md
  docs/adm-guide/dispatchers/mailgun.md
  docs/adm-guide/dispatchers/mailjet.md
  docs/adm-guide/dispatchers/sendgrid.md
  docs/adm-guide/dispatchers/slack.md
  docs/adm-guide/dispatchers/sys.md
  docs/adm-guide/dispatchers/teams.md
  docs/adm-guide/dispatchers/twilio.md
  docs/dev-guide/setup.md
Due: none

chore(ci): update dockerize and release workflows
  .github/workflows/dockerize.yml
  .github/workflows/release.yml
  docker/Dockerfile
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

Tags (#126)
  src/bitcaster/admin/attachment.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/exceptions.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/migrations/0014_attachment_filename_alter_attachment_correlation_id_and_more.py
  src/bitcaster/models/attachment.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/attachment.py
  src/bitcaster/utils/http.py
  src/bitcaster/utils/security.py
  src/bitcaster/utils/shortcuts.py
  src/bitcaster/web/templates/admin_extra_buttons/includes/attrs.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/choice.html
  src/bitcaster/web/templates/bitcaster/recipients.html
  src/bitcaster/web/templatetags/attachment.py
  src/bitcaster/web/templatetags/attachments.py
  src/bitcaster/web/templatetags/bitcaster.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  tests/models/test_model_notification.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
  tests/utils/test_utils_attachment.py
  tests/web/test_web_tags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

chore(ci): update dockerize and release workflows (#128)
  .github/workflows/dockerize.yml
  .github/workflows/release.yml
  docker/Dockerfile
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

add tests
  src/bitcaster/api/profile.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/forms/media.py
  src/bitcaster/utils/json.py
  src/bitcaster/web/templatetags/bitcaster.py
  src/bitcaster/web/templatetags/user.py
  tests/api/test_api_profile.py
  tests/dispatchers/test_d_mailjet.py
  tests/forms/attachment.png
  tests/forms/attachment.svg
  tests/forms/test_forms_attachment.py
  tests/forms/test_forms_media.py
  tests/models/test_model_usermessage.py
  tests/test_tasks.py
  tests/utils/test_utils_json.py
  tests/web/templatetags/test_web_tags_attachments.py
  tests/web/templatetags/test_web_tags_bitcaster.py
  tests/web/templatetags/test_web_tags_protocols.py
  tests/web/templatetags/test_web_tags_user.py
Due: lint, test, checkCoverage, deploy-dev

add tests (#129)
  src/bitcaster/api/profile.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/forms/attachment.py
  src/bitcaster/forms/media.py
  src/bitcaster/utils/json.py
  src/bitcaster/web/templatetags/bitcaster.py
  src/bitcaster/web/templatetags/user.py
  tests/api/test_api_profile.py
  tests/dispatchers/test_d_mailjet.py
  tests/forms/attachment.png
  tests/forms/attachment.svg
  tests/forms/test_forms_attachment.py
  tests/forms/test_forms_media.py
  tests/models/test_model_usermessage.py
  tests/test_tasks.py
  tests/utils/test_utils_json.py
  tests/web/templatetags/test_web_tags_attachments.py
  tests/web/templatetags/test_web_tags_bitcaster.py
  tests/web/templatetags/test_web_tags_protocols.py
  tests/web/templatetags/test_web_tags_user.py
Due: lint, test, checkCoverage, deploy-dev

feat: rename fields and update test infrastructure
  .gitignore
  src/bitcaster/admin/message.py
  src/bitcaster/api/event.py
  src/bitcaster/forms/message.py
  src/bitcaster/migrations/0009_messagetemplate_debug_alter_apikey_grants.py
  src/bitcaster/migrations/0015_rename_auto_crete_event_application_auto_create_event.py
  src/bitcaster/models/application.py
  src/bitcaster/models/messagetemplate.py
  tests/admin/test_admin_message.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_occurrence.py
  tests/admin/test_admin_organization.py
  tests/admin/test_admin_task.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/console/test_console_tasks.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/channel.py
  tests/extras/testutils/factories/event.py
  tests/extras/testutils/factories/message.py
  tests/extras/testutils/perms.py
  tests/extras/testutils/selenium.py
  tests/models/test_model_message.py
  tests/models/test_model_notification.py
  tests/models/test_model_occurence.py
  tests/selenium/conftest.py
  tests/selenium/test_f_admin.py
  tests/test_factories.py
  tests/test_notify.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

test: improve test infrastructure and coverage
  pyproject.toml
  src/bitcaster/admin/address.py
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/application.py
  src/bitcaster/admin/assignment.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/filters.py
  src/bitcaster/admin/group.py
  src/bitcaster/admin/member.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/mixins.py
  src/bitcaster/admin/monitor.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/organization.py
  tests/admin/test_admin_smoke.py
  tests/console/test_console_view.py
  tests/extras/testutils/matchers.py
  tests/extras/testutils/selenium.py
  tests/runner/test_runner_manager.py
  tests/selenium/test_f_admin.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updste trivy action
  .github/workflows/security.yml
Due: none

feat(cli): add healthcheck to scheduler and improve tests
  src/bitcaster/cli/scheduler.py
  tests/cli/test_cli_scheduler.py
  tests/console/test_console_notify.py
  tests/console/test_console_tasks.py
Due: lint, test, checkCoverage, deploy-dev

add tests
  src/bitcaster/web/dashboard/views.py
  tests/admin/test_admin_message.py
  tests/selenium/test_f_admin.py
  tests/web/dashboard/test_dashboard_tools.py
Due: lint, test, checkCoverage, deploy-dev

test(cli): remove hardcoded path from scheduler test
  tests/cli/test_cli_scheduler.py
Due: lint, test, checkCoverage

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
