Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

test(admin): boost MemberAdmin and Address coverage
  src/bitcaster/admin/member.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_member_extra.py
  tests/models/test_model_address.py
Due: lint, test, checkCoverage, deploy-dev

feat: harden security and expand test coverage (#142)
  docs/_theme/img/bitcaster-logo-h2.svg
  docs/adm-guide/filtering.md
  docs/adm-guide/notification_policies.md
  docs/index.md
  mkdocs.yml
  src/bitcaster/admin/notification.py
  src/bitcaster/forms/notification.py
  src/bitcaster/models/choices.py
  tests/models/test_model_notification.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

test: achieve 100% diff coverage and add diff-cover
  pyproject.toml
  src/bitcaster/admin/filters.py
  src/bitcaster/utils/filtering.py
  tests/admin/test_admin_address.py
  tests/utils/test_utils_filtering.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

ci: Orchestrate GitHub Pages deployment
  .github/workflows/deploy-pages.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

feat(filtering): add support for context variables in recipient filters (#144)
  .semgrep/security/bitcaster-admin-autocomplete.yaml
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/notification_policies.md
  docs/adm-guide/trigger.md
  docs/dev-guide/filtering.md
  pyproject.toml
  src/bitcaster/admin/address.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/filters.py
  src/bitcaster/admin/member.py
  src/bitcaster/forms/assignment.py
  src/bitcaster/forms/user.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/user.py
  src/bitcaster/types/filtering.pyi
  src/bitcaster/utils/filtering.py
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/admin_extra_buttons/change_list.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/button.html
  src/bitcaster/web/templates/adminfilters/combobox.html
  src/bitcaster/web/templates/adminfilters/json.html
  tests/admin/test_admin_address.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_member_extra.py
  tests/admin/test_admin_message.py
  tests/admin/test_autocomplete.py
  tests/admin/test_filters.py
  tests/extras/testutils/factories/distribution.py
  tests/forms/test_assignment.py
  tests/models/test_model_address.py
  tests/models/test_model_notification.py
  tests/utils/test_utils_filtering.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

refactor(models): standardize Django field attribute order
  .semgrep/Makefile
  .semgrep/best-practice/bitcaster-dramatiq.py
  .semgrep/django/django-fields-attrs-order.py
  .semgrep/django/django-fields-attrs-order.yaml
  .semgrep/django/django-fields-required-attrs.py
  .semgrep/django/django-fields-required-attrs.yaml
  .semgrep/django/gettext-fields.yaml
  src/bitcaster/admin/notification.py
  src/bitcaster/migrations/0020_remove_notification_context_filter_and_more.py
  src/bitcaster/models/address.py
  src/bitcaster/models/application.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/attachment.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/event.py
  src/bitcaster/models/internal.py
  src/bitcaster/models/key.py
  src/bitcaster/models/media.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/mixins.py
  src/bitcaster/models/monitor.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/process_log.py
  src/bitcaster/models/project.py
  src/bitcaster/models/task.py
  src/bitcaster/models/user.py
  src/bitcaster/models/user_message.py
  src/bitcaster/social/models.py
Due: lint, test, checkCoverage, deploy-dev

chore(ruff): exclude .semgrep directory from ruff
  ruff.toml
Due: none

ci(semgrep): enable SARIF output and upload
  .github/workflows/semgrep.yml
Due: none

ci(semgrep): exclude config and doc scripts from scan
  .github/workflows/semgrep.yml
Due: none

refactor(models): standardize Django field attribute order (#153)
  .github/workflows/semgrep.yml
  .semgrep/Makefile
  .semgrep/best-practice/bitcaster-dramatiq.py
  .semgrep/django/django-fields-attrs-order.py
  .semgrep/django/django-fields-attrs-order.yaml
  .semgrep/django/django-fields-required-attrs.py
  .semgrep/django/django-fields-required-attrs.yaml
  .semgrep/django/gettext-fields.yaml
  ruff.toml
  src/bitcaster/admin/notification.py
  src/bitcaster/migrations/0020_remove_notification_context_filter_and_more.py
  src/bitcaster/models/address.py
  src/bitcaster/models/application.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/attachment.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/event.py
  src/bitcaster/models/internal.py
  src/bitcaster/models/key.py
  src/bitcaster/models/media.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/mixins.py
  src/bitcaster/models/monitor.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/process_log.py
  src/bitcaster/models/project.py
  src/bitcaster/models/task.py
  src/bitcaster/models/user.py
  src/bitcaster/models/user_message.py
  src/bitcaster/social/models.py
Due: lint, test, checkCoverage, deploy-dev

docs: fix typos and clarify dev guide
  docs/adm-guide/structure.md
  docs/dev-guide/dispatchers.md
  docs/index.md
Due: none

feat(api): implement sliding window throttling and full typing
  docs/dev-guide/.pages
  docs/dev-guide/api.md
  docs/dev-guide/index.md
  mypy.ini
  src/bitcaster/api/application.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/base.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/profile.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/system.py
  src/bitcaster/api/throttling.py
  src/bitcaster/api/user.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/types/filtering.pyi
  src/bitcaster/types/json.pyi
  src/bitcaster/utils/filtering.py
  src/bitcaster/utils/json.py
  tests/api/test_api_system.py
  tests/api/test_api_throttling.py
  tests/api/test_api_trigger.py
  tests/console/test_console_view.py
Due: lint, test, checkCoverage, deploy-dev

feat(api): implement sliding window throttling and full typing (#154)
  docs/adm-guide/structure.md
  docs/dev-guide/.pages
  docs/dev-guide/api.md
  docs/dev-guide/dispatchers.md
  docs/dev-guide/index.md
  docs/index.md
  mypy.ini
  src/bitcaster/api/application.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/base.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/profile.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/system.py
  src/bitcaster/api/throttling.py
  src/bitcaster/api/user.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/types/filtering.pyi
  src/bitcaster/types/json.pyi
  src/bitcaster/utils/filtering.py
  src/bitcaster/utils/json.py
  tests/api/test_api_system.py
  tests/api/test_api_throttling.py
  tests/api/test_api_trigger.py
  tests/console/test_console_view.py
Due: lint, test, checkCoverage, deploy-dev

chore(deps): update dependencies and security checks
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

chore(deps): update dependencies and security checks (#155)
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates pwa tests
  tests/pwa/test_views.py
Due: lint, test, checkCoverage

feat(ui): overhaul console and PWA with message filtering
  src/bitcaster/console/views.py
  src/bitcaster/pwa/templates/pwa/_footer.html
  src/bitcaster/pwa/templates/pwa/_header.html
  src/bitcaster/pwa/templates/pwa/_log.html
  src/bitcaster/pwa/templates/pwa/about.html
  src/bitcaster/pwa/templates/pwa/base.html
  src/bitcaster/pwa/templates/pwa/detail.html
  src/bitcaster/pwa/templates/pwa/index.html
  src/bitcaster/pwa/templates/pwa/login.html
  src/bitcaster/pwa/templates/pwa/prefs.html
  src/bitcaster/pwa/urls.py
  src/bitcaster/pwa/views.py
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/bitcaster/console/_messages.html
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/bitcaster/console/index.html
  src/bitcaster/web/templates/bitcaster/console/prefs.html
  src/bitcaster/web/theme/static_src/src/bitcaster.scss
  tests/console/test_console_view.py
  tests/extras/testutils/perms.py
  tests/pwa/test_views.py
Due: lint, test, checkCoverage, deploy-dev

feat(dev): enforce callable choices in models
  .pre-commit-config.yaml
  .semgrep/django/django-choices-callable.py
  .semgrep/django/django-choices-callable.yaml
  src/bitcaster/migrations/0021_alter_logmessage_level_alter_notification_policy_and_more.py
  src/bitcaster/models/choices.py
  src/bitcaster/models/internal.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/process_log.py
  src/bitcaster/models/user_message.py
  src/bitcaster/social/migrations/0004_alter_socialprovider_configuration_and_more.py
Due: lint, test, checkCoverage, deploy-dev

docs(sso): document Social Auth global parameters
  docs/adm-guide/sso.md
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/config/settings.py
  src/bitcaster/social/apps.py
  src/bitcaster/social/pipeline.py
  src/bitcaster/social/strategy.py
  tests/social/test_social_pipeline.py
  tests/social/test_social_strategy.py
Due: lint, test, checkCoverage, deploy-dev

docs(sso): add admin URL for global configuration
  docs/adm-guide/sso.md
Due: none

docs: rename Admin to Bitcaster Admin across documentation
  docs/adm-guide/dispatchers/log.md
  docs/adm-guide/login.md
  docs/adm-guide/sso.md
  docs/glossary/terms/api-key.md
  docs/howto/import-members.md
Due: none

docs(sso): include all supported SSO providers
  docs/adm-guide/sso.md
Due: none

docs(sso): add detailed configuration examples for all providers
  docs/adm-guide/sso.md
Due: none

docs(sso): improve JSON formatting in examples
  docs/adm-guide/sso.md
Due: none

docs(sso): use admonitions for configuration examples
  docs/adm-guide/sso.md
Due: none

docs(sso): simplify configuration examples formatting
  docs/adm-guide/sso.md
Due: none

feat(pwa): implement install and update deps
  docs/_theme/css/style.css.map
  pyproject.toml
  src/bitcaster/config/__init__.py
  src/bitcaster/pwa/static/pwa/js/init_install.js
  src/bitcaster/pwa/static/pwa/js/init_install.min.js
  src/bitcaster/pwa/static/pwa/js/pwa_install.js
  src/bitcaster/pwa/static/pwa/js/pwa_install.min.js
  src/bitcaster/pwa/templates/pwa/base.html
  src/bitcaster/pwa/templates/pwa/prefs.html
  src/bitcaster/web/static/bitcaster/css/dashboard.css
  src/bitcaster/web/static/bitcaster/css/dashboard.css.map
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/theme/static_src/src/admin_ext.css
  src/bitcaster/web/theme/static_src/src/console.scss
  src/bitcaster/web/theme/static_src/src/message_editor.css
  tests/conftest.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

refactor(console): improve console UI and navigation
  src/bitcaster/console/views.py
  src/bitcaster/pwa/templates/pwa/prefs.html
  src/bitcaster/web/templates/bitcaster/console/_messages.html
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/bitcaster/console/prefs.html
  src/bitcaster/web/templates/bitcaster/index.html
  tests/console/test_console_view.py
Due: lint, test, checkCoverage, deploy-dev
