Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

docs: update documentation for 2.5.0 release (#194)
  docs/adm-guide/agents.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/sendgrid.md
  docs/adm-guide/dispatchers/user_message.md
  docs/adm-guide/sso.md
  docs/glossary/terms/environment.md
  mkdocs.yml
Due: none

feat(ai): add an Opencode skill for GitHub issue resolution
  .ai/branch-conventions.md
  .gitignore
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ai): add explicit user prompts for git commit and git push
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ai): gate edits behind clear analysis and planning steps
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ai): pull from the correct branch in Github Issues skill
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ci): use pull_request_target for labelize workflow to support fork PRs
  .github/workflows/labelize.yml
  PR-action-perm.md
Due: none

feat(ai): make GitHub Issues skill detect and/or prompt for related PR
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ai): get around test run timeouts in GitHub Issues skill
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ci): use pull_request_target for labelize workflow to support for… (#198)
  .github/workflows/labelize.yml
  PR-action-perm.md
Due: none

feat(ai): add more LLM-friendly docs, make agents read them in skills
  .ai/domain.md
  .ai/standards.md
  .opencode/skills/github-issues/SKILL.md
  AGENTS.md
Due: none

fix(ai): make writing failing tests before patching a mandatory gate
  .ai/workflow.md
  .opencode/skills/github-issues/SKILL.md
Due: none

fix(ai): involve the user more in analyzing and planning issue solutions
  .opencode/skills/github-issues/SKILL.md
Due: none

fix: prevent upgrade() from crashing with more than one superuser
  src/bitcaster/management/commands/upgrade.py
  tests/test_commands.py
Due: lint, test, checkCoverage, deploy-dev

feat(console): add filter by application and event
  src/bitcaster/console/views.py
  src/bitcaster/web/templates/bitcaster/console/_messages.html
  tests/console/test_console_view.py
Due: lint, test, checkCoverage, deploy-dev

chore(ai): rename skill directory
  .agents/skills/github-issues/SKILL.md
  .gitignore
Due: none

chore(ai): fix yaml front matter
  .agents/skills/github-issues/SKILL.md
Due: none

fix: do not treat the system org owner as the one true superuser
  src/bitcaster/management/commands/upgrade.py
Due: lint, test, checkCoverage, deploy-dev

feat(ai): add GitHub Issues skill and supporting docs (#201)
  .agents/skills/github-issues/SKILL.md
  .ai/branch-conventions.md
  .ai/domain.md
  .ai/standards.md
  .ai/workflow.md
  .gitignore
  AGENTS.md
Due: none

feat(console): add filter by application and event (#202)
  src/bitcaster/console/views.py
  src/bitcaster/web/templates/bitcaster/console/_messages.html
  tests/console/test_console_view.py
Due: lint, test, checkCoverage, deploy-dev

fix: allow upgrade() with multiple superusers (#203)
  src/bitcaster/management/commands/upgrade.py
  tests/test_commands.py
Due: lint, test, checkCoverage, deploy-dev

Fixing broken lint check failure
  PR-action-perm.md
Due: none

Fixing broken lint check failure (#204)
  PR-action-perm.md
Due: none

refactor(tests): extract reusable fixture for console filter tests
  .agents/skills/coder/SKILL.md
  .agents/skills/git/branch/SKILL.md
  .agents/skills/git/commit-message/SKILL.md
  .agents/skills/git/commit/SKILL.md
  .agents/skills/git/pr/SKILL.md
  .agents/skills/linter/SKILL.md
  .semgrep/security/bitcaster-admin-sensitive-fields.py
  .semgrep/security/bitcaster-admin-sensitive-fields.yaml
  tests/console/test_console_view.py
Due: lint, test, checkCoverage

updates tests
  tests/console/test_console_view.py
  tests/selenium/test_f_admin.py
Due: lint, test, checkCoverage

fix: security patches and dependency bumps
  PR-action-perm.md
  pyproject.toml
  src/bitcaster/admin/monitor.py
  src/bitcaster/console/views.py
  src/bitcaster/pwa/views.py
  src/bitcaster/web/static/bitcaster/js/editor.js
  src/bitcaster/web/static/bitcaster/js/editor.min.js
  tests/selenium/test_f_admin.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix(docker): harden Dockerfile and .dockerignore
  .dockerignore
  docker/Dockerfile
  docker/conf/config.toml
  docker/conf/uwsgi.ini
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, build-docker-base, build-docker-test, deploy-dev

fix(tests): repair selenium test for TinyMCE 7.8 compatibility
  src/bitcaster/admin/message.py
  tests/console/test_console_view.py
  tests/selenium/test_f_admin.py
Due: lint, test, checkCoverage, deploy-dev

fix(tests): remove ordering dependency in test_event_notifications
  tests/models/test_model_event.py
Due: lint, test, checkCoverage

refactor(tests): extract reusable fixture for console filter tests (#207)
  .agents/skills/coder/SKILL.md
  .agents/skills/git/branch/SKILL.md
  .agents/skills/git/commit-message/SKILL.md
  .agents/skills/git/commit/SKILL.md
  .agents/skills/git/pr/SKILL.md
  .agents/skills/linter/SKILL.md
  .semgrep/security/bitcaster-admin-sensitive-fields.py
  .semgrep/security/bitcaster-admin-sensitive-fields.yaml
  src/bitcaster/admin/message.py
  tests/console/test_console_view.py
  tests/models/test_model_event.py
  tests/selenium/test_f_admin.py
Due: lint, test, checkCoverage, deploy-dev

test(monitor): add coverage for secure redirect in configure view
  tests/admin/test_admin_monitor.py
Due: lint, test, checkCoverage

docs: Update documentation for Semgrep admin sensitive fields rule
  README.md
  tox.ini
  uv.lock
Due: none

chore: add license compliance tooling and fix pip-audit CI
  .github/workflows/security.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

chore: remove unused slack-notifications dependency and tune licensecheck
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix: security patches and dependency bumps (#211)
  .github/workflows/security.yml
  PR-action-perm.md
  README.md
  pyproject.toml
  src/bitcaster/admin/monitor.py
  src/bitcaster/console/views.py
  src/bitcaster/pwa/views.py
  src/bitcaster/web/static/bitcaster/js/editor.js
  src/bitcaster/web/static/bitcaster/js/editor.min.js
  tests/admin/test_admin_monitor.py
  tests/console/test_console_view.py
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix(sso): resolve SSO login issues with provider lookup and template rendering
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/social/adapter.py
  src/bitcaster/social/admin.py
  src/bitcaster/web/templates/allauth/layouts/base.html
  src/bitcaster/web/templates/allauth/layouts/entrance.html
  src/bitcaster/web/templates/socialaccount/authentication_error.html
  tests/admin/test_admin_social.py
  tests/console/test_console_view.py
  tests/social/test_adapter.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

Fixed PR
  src/bitcaster/social/adapter.py
Due: lint, test, checkCoverage, deploy-dev

feat(docker): add docker test infra and ContainerHost improvements
  docker/Dockerfile
  src/bitcaster/web/templates/bitcaster/index.html
  tests/conftest.py
  tests/docker/README.md
  tests/docker/conftest.py
  tests/docker/test_docker_image.py
  tests/docker/test_docker_server.py
  tests/extras/testutils/docker.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

chore(deps): add testinfra for docker test infrastructure
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix: PWA banner dismiss and cursor; assignment filters
  src/bitcaster/admin/assignment.py
  src/bitcaster/migrations/0022_alter_assignment_active.py
  src/bitcaster/models/assignment.py
  src/bitcaster/pwa/templates/pwa/base.html
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/theme/static_src/src/bitcaster.scss
Due: lint, test, checkCoverage, deploy-dev

feat(docker): add docker test infra and ContainerHost improvements (#215)
  docker/Dockerfile
  pyproject.toml
  src/bitcaster/web/templates/bitcaster/index.html
  tests/conftest.py
  tests/docker/README.md
  tests/docker/conftest.py
  tests/docker/test_docker_image.py
  tests/docker/test_docker_server.py
  tests/extras/testutils/docker.py
  uv.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev
