Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

rebase develop
  pyproject.toml
  src/bitcaster/config/fragments/sentry.py
  src/bitcaster/config/settings.py
  src/bitcaster/web/templates/bitcaster/admin/monitor/change_form.html
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates tests
  .github/workflows/test.yml
Due: none

changed default url to better detect misconfiguration
  src/bitcaster/config/__init__.py
Due: lint, test, checkCoverage, deploy-dev

update tests
  tests/conftest.py
Due: lint, test, checkCoverage

updated tests
  tests/models/test_model_task.py
Due: lint, test, checkCoverage

updates deps
  pyproject.toml
  stack-samples/full/compose.yml
  stack-samples/full/nginx.conf
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates Task.scheduling options to force loacale and time format
  src/bitcaster/models/task.py
Due: lint, test, checkCoverage, deploy-dev

refactor(admin): migrate admin forms to django-unfold
  src/bitcaster/admin/monitor.py
  src/bitcaster/agents/base.py
  src/bitcaster/forms/message.py
  src/bitcaster/forms/monitor.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0004_remove_monitor_schedule.py
  src/bitcaster/models/monitor.py
  src/bitcaster/web/templates/bitcaster/admin/monitor/configure.html
Due: lint, test, checkCoverage, deploy-dev

refactor(admin): migrate admin forms to django-unfold (#80)
  src/bitcaster/admin/monitor.py
  src/bitcaster/agents/base.py
  src/bitcaster/forms/message.py
  src/bitcaster/forms/monitor.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0004_remove_monitor_schedule.py
  src/bitcaster/models/monitor.py
  src/bitcaster/web/templates/bitcaster/admin/monitor/configure.html
Due: lint, test, checkCoverage, deploy-dev

add translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/admin/occurrence.py
  src/bitcaster/config/settings.py
Due: lint, test, checkCoverage, deploy-dev

update migrations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, checkCoverage, deploy-dev

update translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/models/application.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/event.py
  src/bitcaster/models/group.py
  src/bitcaster/models/key.py
  src/bitcaster/models/monitor.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/task.py
  src/bitcaster/models/user.py
Due: lint, test, checkCoverage, deploy-dev

updates
  .gitignore
  .tx/config
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, checkCoverage, deploy-dev

update translations
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, checkCoverage, deploy-dev

updates translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/web/templates/admin/social/socialprovider/-change_form.html
  src/bitcaster/web/templates/unfold/helpers/welcomemsg.html
Due: lint, test, checkCoverage, deploy-dev

updates translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, checkCoverage, deploy-dev

updates translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/models/address.py
  src/bitcaster/models/application.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/event.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

fixes typo
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

fixes capital letter
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

updates translations
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/models/mixins.py
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

updates
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
  src/bitcaster/models/event.py
  tests/admin/test_admin_event.py
Due: lint, test, checkCoverage, deploy-dev

updates
  tests/admin/test_admin_event.py
Due: lint, test, checkCoverage

updates
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/de/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, checkCoverage, deploy-dev

feat(core): Add user timezone and improve UI
  coverage.info
  src/bitcaster/admin/user.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/config/fragments/unfold.css
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/migrations/0005_alter_apikey_options_alter_application_options_and_more.py
  src/bitcaster/models/user.py
  src/bitcaster/social/pipeline.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/unfold/profile.html
  src/bitcaster/web/templates/unfold/helpers/--account_links.html
  src/bitcaster/web/templates/unfold/helpers/==header.html
  src/bitcaster/web/templates/unfold/helpers/account_links.html
  src/bitcaster/web/templates/unfold/helpers/language_switch2.html
  src/bitcaster/web/templates/unfold/helpers/navigation_user.html
  src/bitcaster/web/templates/unfold/helpers/userlinks.html
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  tests/social/test_social_pipeline.py
Due: lint, test, checkCoverage, deploy-dev

feat(core): Add user timezone and improve UI (#82)
  coverage.info
  src/bitcaster/admin/user.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/config/fragments/unfold.css
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/migrations/0005_alter_apikey_options_alter_application_options_and_more.py
  src/bitcaster/models/user.py
  src/bitcaster/social/pipeline.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/unfold/profile.html
  src/bitcaster/web/templates/unfold/helpers/--account_links.html
  src/bitcaster/web/templates/unfold/helpers/==header.html
  src/bitcaster/web/templates/unfold/helpers/account_links.html
  src/bitcaster/web/templates/unfold/helpers/language_switch2.html
  src/bitcaster/web/templates/unfold/helpers/navigation_user.html
  src/bitcaster/web/templates/unfold/helpers/userlinks.html
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  tests/social/test_social_pipeline.py
Due: lint, test, checkCoverage, deploy-dev

fixes typo
  docs/dev-guide/setup.md
  src/bitcaster/config/__init__.py
Due: lint, test, checkCoverage, deploy-dev

feat(chrome): Implement WebSocket dispatcher for Chrome plugin communication
  pyproject.toml
  src/bitcaster/chrome/__init__.py
  src/bitcaster/chrome/apps.py
  src/bitcaster/chrome/auth.py
  src/bitcaster/chrome/consumers.py
  src/bitcaster/chrome/dispatch.py
  src/bitcaster/chrome/routing.py
  src/bitcaster/chrome/urls.py
  src/bitcaster/chrome/views.py
  src/bitcaster/config/__init__.py
  src/bitcaster/config/asgi.py
  src/bitcaster/config/settings.py
  src/bitcaster/config/urls.py
  src/bitcaster/web/consumers.py
  src/bitcaster/web/templates/chrome/index.html
  src/bitcaster/web/templates/chrome/room.html
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

chrome plugin
  src/bitcaster/chrome/consumers.py
  src/bitcaster/web/templates/chrome/room.html
Due: lint, test, checkCoverage, deploy-dev

updates deps
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

add UserMessageDispatcher tests
  src/bitcaster/dispatchers/user_message.py
  stack-samples/Makefile
  tests/dispatchers/test_d_user_message.py
Due: lint, test, checkCoverage, deploy-dev

add tests
  src/bitcaster/admin/address.py
  src/bitcaster/admin/channel.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/web/templates/bitcaster/admin/address/assign_to_channel.html
  tests/admin/test_admin_address.py
  tests/dispatchers/test_d_user_message.py
  tests/extras/testutils/factories/event.py
Due: lint, test, checkCoverage, deploy-dev

renames Message as MessageTemplate
  src/bitcaster/admin/event.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/register.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/forms/message.py
  src/bitcaster/migrations/0008_rename_message_messagetemplate.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/application.py
  src/bitcaster/models/event.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/project.py
  src/bitcaster/models/protocols.py
  src/bitcaster/web/templates/bitcaster/admin/message/create_message_template.html
  src/bitcaster/web/templates/bitcaster/admin/message/edit.html
  src/bitcaster/web/templates/bitcaster/admin/notification/messages.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  tests/admin/test_admin_message.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_occurrence.py
  tests/admin/test_admin_organization.py
  tests/extras/testutils/factories/message.py
  tests/models/test_model_message.py
  tests/models/test_model_notification.py
  tests/test_notify.py
Due: lint, test, checkCoverage, deploy-dev

Fixed doker shield on README.md
  README.md
Due: none

renames Message as MessageTemplate (#86)
  src/bitcaster/admin/event.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/register.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/forms/message.py
  src/bitcaster/migrations/0008_rename_message_messagetemplate.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/application.py
  src/bitcaster/models/event.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/project.py
  src/bitcaster/models/protocols.py
  src/bitcaster/web/templates/bitcaster/admin/message/create_message_template.html
  src/bitcaster/web/templates/bitcaster/admin/message/edit.html
  src/bitcaster/web/templates/bitcaster/admin/notification/messages.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  tests/admin/test_admin_message.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_occurrence.py
  tests/admin/test_admin_organization.py
  tests/extras/testutils/factories/message.py
  tests/models/test_model_message.py
  tests/models/test_model_notification.py
  tests/test_notify.py
Due: lint, test, checkCoverage, deploy-dev

Fixed doker shield on README.md (#85)
  README.md
Due: none
