Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

updates cryptography
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fixes mypy
  src/bitcaster/models/messagetemplate.py
Due: lint, test, checkCoverage, deploy-dev

fixes cryptography compat
  pyproject.toml
  src/bitcaster/webpush/dispatcher.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates mypy
  src/bitcaster/models/messagetemplate.py
Due: lint, test, checkCoverage, deploy-dev

fixes monitor
  .github/workflows/dockerize.yml
  docker/Dockerfile
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/manager.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/dashboards/monitor.js
  src/bitcaster/web/static/dashboards/monitor.min.js
  src/bitcaster/web/templates/dashboards/monitor.html
  stack-samples/develop/compose.yml
  stack-samples/full/compose.yml
  tests/runner/test_runner_manager.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

fixes monitor (#88)
  .github/workflows/dockerize.yml
  docker/Dockerfile
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/manager.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/dashboards/monitor.js
  src/bitcaster/web/static/dashboards/monitor.min.js
  src/bitcaster/web/templates/dashboards/monitor.html
  stack-samples/develop/compose.yml
  stack-samples/full/compose.yml
  tests/runner/test_runner_manager.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

updates doclerize
  .github/workflows/dockerize.yml
Due: none

feat(user, admin, settings, console): Add user timezone and date/time format preferences
  src/bitcaster/admin/member.py
  src/bitcaster/admin/user.py
  src/bitcaster/config/settings.py
  src/bitcaster/console/views.py
  src/bitcaster/migrations/0010_user_date_format_user_date_time_format.py
  src/bitcaster/models/user.py
  src/bitcaster/runner/manager.py
  src/bitcaster/web/templates/bitcaster/console/index.html
  src/bitcaster/web/templates/bitcaster/console/prefs.html
  src/bitcaster/web/templates/dashboards/monitor.html
  src/bitcaster/web/templatetags/user.py
Due: lint, test, checkCoverage, deploy-dev

fix(models): Adjust User model choices callable
  src/bitcaster/models/user.py
Due: lint, test, checkCoverage, deploy-dev

feat: Implement user date/time format preferences and console UI
  .pre-commit-config.yaml
  src/bitcaster/admin/member.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin_site.py
  src/bitcaster/cache/manager.py
  src/bitcaster/config/settings.py
  src/bitcaster/console/urls.py
  src/bitcaster/console/views.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0010_user_date_format_user_date_time_format.py
  src/bitcaster/migrations/0011_user_time_format.py
  src/bitcaster/models/user.py
  src/bitcaster/web/static/bitcaster/images/logos/name_white.svg
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/base.html
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/bitcaster/console/detail.html
  src/bitcaster/web/templates/bitcaster/console/index.html
  src/bitcaster/web/templates/bitcaster/console/prefs.html
  src/bitcaster/web/templates/dashboards/monitor.html
  src/bitcaster/web/templates/unfold/layouts/skeleton.html
  src/bitcaster/web/theme/static_src/package.json
  src/bitcaster/web/theme/static_src/src/console.scss
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  src/bitcaster/web/theme/static_src/tailwind.config.js
  tests/admin/test_admin_member.py
Due: lint, test, checkCoverage, deploy-dev

feat: User Preferences for Date/Time Formats and Console UI (#90)
  .pre-commit-config.yaml
  src/bitcaster/admin/member.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin_site.py
  src/bitcaster/cache/manager.py
  src/bitcaster/config/settings.py
  src/bitcaster/console/urls.py
  src/bitcaster/console/views.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0010_user_date_format_user_date_time_format.py
  src/bitcaster/migrations/0011_user_time_format.py
  src/bitcaster/models/user.py
  src/bitcaster/runner/manager.py
  src/bitcaster/web/static/bitcaster/images/logos/name_white.svg
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/base.html
  src/bitcaster/web/templates/bitcaster/console/base.html
  src/bitcaster/web/templates/bitcaster/console/detail.html
  src/bitcaster/web/templates/bitcaster/console/index.html
  src/bitcaster/web/templates/bitcaster/console/prefs.html
  src/bitcaster/web/templates/dashboards/monitor.html
  src/bitcaster/web/templates/unfold/layouts/skeleton.html
  src/bitcaster/web/templatetags/user.py
  src/bitcaster/web/theme/static_src/package.json
  src/bitcaster/web/theme/static_src/src/console.scss
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  src/bitcaster/web/theme/static_src/tailwind.config.js
  tests/admin/test_admin_member.py
Due: lint, test, checkCoverage, deploy-dev

feat(theme): implement dynamic theme and console base template
  src/bitcaster/web/theme/static_src/package.json
Due: lint, test, checkCoverage, deploy-dev

updates dockerize
  .github/workflows/dockerize.yml
Due: none

add --version option to bc
  docker/Dockerfile
  src/bitcaster/cli/__main__.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

fixes dockerize.yml typos
  .github/workflows/dockerize.yml
Due: none

update dockeize workflow
  .github/workflows/dockerize.yml
Due: none

feat(docker): improve versioning and consolidate stack samples
  .github/workflows/dockerize.yml
  docker/Dockerfile
  docs/stacks/full.md
  docs/stacks/simple.md
  docs/stacks/stable.md
  src/bitcaster/auth/backends.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/slack.py
  src/bitcaster/social/admin.py
  src/bitcaster/webpush/dispatcher.py
  stack-samples/Makefile
  stack-samples/full/certs/local.crt
  stack-samples/full/certs/local.key
  stack-samples/full/compose.yml
  stack-samples/full/nginx.conf
  stack-samples/stable/compose.yml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

add MS Teams Dispatcher and generic markdown support
  src/bitcaster/admin/message.py
  src/bitcaster/config/settings.py
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/teams.py
  src/bitcaster/forms/message.py
  src/bitcaster/models/messagetemplate.py
  src/bitcaster/web/static/bitcaster/js/editor.js
  src/bitcaster/web/static/bitcaster/js/editor.min.js
  src/bitcaster/web/templates/bitcaster/admin/message/edit.html
  tests/dispatchers/test_d_teams.py
Due: lint, test, checkCoverage, deploy-dev

add MSTeams documentation
  docs/adm-guide/dispatchers.md
Due: none

fixes Dockerfile
  docker/Dockerfile
Due: docker-builder, docker-builder-test, trivy-docker, trivy-code, deploy-dev

Added Drawio and fixed docs
  docs/_guidelines/.pages
  docs/_guidelines/development/.pages
  docs/_guidelines/development/BitcasterCD.drawio.png
  docs/_guidelines/development/class-diagram.md
  docs/_guidelines/development/index.md
  docs/_guidelines/development/release-strategy.md
  docs/_guidelines/index.md
  docs/_guidelines/wiki.md
  docs/adm-guide/agents.md
  docs/adm-guide/trigger.md
  docs/api/events.md
  docs/configuration.md
  docs/dev-guide/Bitcaster.drawio.png
  docs/dev-guide/ReleaseStrategy.drawio.png
  docs/glossary/terms/agent.md
  docs/howto/.pages
  docs/howto/shell.md
Due: none

update dockeize workflow
  .github/workflows/dockerize.yml
  docker/Dockerfile
  docs/stacks/full.md
  docs/stacks/simple.md
  docs/stacks/stable.md
  src/bitcaster/auth/backends.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/slack.py
  src/bitcaster/social/admin.py
  src/bitcaster/webpush/dispatcher.py
  stack-samples/Makefile
  stack-samples/full/certs/local.crt
  stack-samples/full/certs/local.key
  stack-samples/full/compose.yml
  stack-samples/full/nginx.conf
  stack-samples/stable/compose.yml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, deploy-dev

Added Drawio and fixed docs (#98)
  docs/_guidelines/.pages
  docs/_guidelines/development/.pages
  docs/_guidelines/development/BitcasterCD.drawio.png
  docs/_guidelines/development/class-diagram.md
  docs/_guidelines/development/index.md
  docs/_guidelines/development/release-strategy.md
  docs/_guidelines/index.md
  docs/_guidelines/wiki.md
  docs/adm-guide/agents.md
  docs/adm-guide/trigger.md
  docs/api/events.md
  docs/configuration.md
  docs/dev-guide/Bitcaster.drawio.png
  docs/dev-guide/ReleaseStrategy.drawio.png
  docs/glossary/terms/agent.md
  docs/howto/.pages
  docs/howto/shell.md
Due: none

updates labelize workflow
  .github/file-filters.yml
  .github/workflows/labelize.yml
Due: none

code clean
  src/bitcaster/forms/actions.py
  src/bitcaster/web/templatetags/usage.py
Due: lint, test, checkCoverage, deploy-dev

Revert "code clean"
  src/bitcaster/forms/actions.py
  src/bitcaster/web/templatetags/usage.py
Due: lint, test, checkCoverage, deploy-dev

updates security workflow
  .github/file-filters.yml
  .github/workflows/security.yml
  README.md
  tox.ini
Due: none

updates security worflow
  .github/workflows/security.yml
Due: none

updates security worflow
  .github/workflows/security.yml
  pyproject.toml
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates security workflow (#105)
  .github/file-filters.yml
  .github/workflows/security.yml
  README.md
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates labelize workflow (#104)
  .github/file-filters.yml
  .github/workflows/labelize.yml
Due: none

Rebased on develop
  docs/dev-guide/setup.md
  pyproject.toml
  src/bitcaster/admin/notification.py
  src/bitcaster/forms/notification.py
  src/bitcaster/models/notification.py
  tests/test_payload_filter.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
