Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

fix(sso): resolve SSO login failures — provider lookup, config, and template fixes (#208)
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/social/adapter.py
  src/bitcaster/social/admin.py
  src/bitcaster/social/forms.py
  src/bitcaster/social/utils.py
  src/bitcaster/web/templates/allauth/layouts/base.html
  src/bitcaster/web/templates/allauth/layouts/entrance.html
  src/bitcaster/web/templates/socialaccount/authentication_error.html
  tests/admin/test_admin_social.py
  tests/console/test_console_view.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/social.py
  tests/social/test_adapter.py
  tests/social/test_utils.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

test(delivery): expand coverage for delivery admin, occurrence processing, and scheduler
  src/bitcaster/admin/filters.py
  tests/admin/test_admin_delivery.py
  tests/admin/test_admin_occurrence.py
  tests/api/test_api_trigger.py
  tests/cli/test_cli_scheduler.py
  tests/models/test_model_occurence.py
  tests/runner/test_runner_tasks.py
  tests/test_notify.py
  tests/test_tasks.py
  tests/web/dashboard/components/test_current_chart_component.py
  tests/web/dashboard/components/test_occurrence_chart_component.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): add event trigger instructions page
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/event.py
  src/bitcaster/forms/message.py
  src/bitcaster/utils/widgets.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/bitcaster/js/copy.js
  src/bitcaster/web/static/bitcaster/js/copy.min.js
  src/bitcaster/web/static/css/admin_ext.css
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/bitcaster/admin/apikey/created.html
  src/bitcaster/web/templates/bitcaster/admin/event/trigger_instructions.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect_new.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect_processed.html
  src/bitcaster/web/theme/static_src/src/admin_ext.scss
  src/bitcaster/webpush/views.py
  tests/admin/test_admin_event.py
  tests/extras/testutils/liveserver.py
  tests/selenium/conftest.py
  tests/selenium/test_f_smoke.py
  tests/utils/test_utils_widgets.py
Due: lint, test, checkCoverage, deploy-dev

docs: rewrite README as project overview with dispatcher list
  README.md
Due: none

docs: rewrite README as project overview with dispatcher list (#251)
  README.md
Due: none

ci: skip codecov test-results upload on cancelled runs
  .github/workflows/test.yml
Due: none

test: add full coverage for SmartMedia widget
  tests/utils/test_utils_widgets.py
Due: lint, test, checkCoverage

feat(admin): add event trigger instructions page (#250)
  .github/workflows/test.yml
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/event.py
  src/bitcaster/forms/message.py
  src/bitcaster/utils/widgets.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/bitcaster/js/copy.js
  src/bitcaster/web/static/bitcaster/js/copy.min.js
  src/bitcaster/web/static/css/admin_ext.css
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/bitcaster/admin/apikey/created.html
  src/bitcaster/web/templates/bitcaster/admin/event/trigger_instructions.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect_new.html
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect_processed.html
  src/bitcaster/web/theme/static_src/src/admin_ext.scss
  src/bitcaster/webpush/views.py
  tests/admin/test_admin_event.py
  tests/extras/testutils/liveserver.py
  tests/selenium/conftest.py
  tests/selenium/test_f_smoke.py
  tests/utils/test_utils_widgets.py
Due: lint, test, checkCoverage, deploy-dev

fix(security): update workflow conditions to support push and manual triggers
  .github/workflows/security.yml
Due: none

fix(security): update workflow conditions to support push and manual triggers (#252)
  .github/workflows/security.yml
Due: none

docs: add PyPI and GitHub release version badges to README
  README.md
Due: none

feat(release): append Docker pull link to GitHub release notes
  .github/workflows/release.yml
Due: none

docs: add GitHub release version badge to README
  README.md
Due: none

chore: add Docker pull link to release notes and README badge (#254)
  .github/workflows/release.yml
  README.md
Due: none

test(docs): add docs link checker and fix broken links
  .github/file-filters.yml
  .github/workflows/docs.yml
  docs/.pages
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/attachment.md
  docs/adm-guide/dispatchers/index.md
  docs/glossary/terms/distribution-list.md
  docs/stacks/.pages
  tests/docs/conftest.py
  tests/docs/test_docs_links.py
  tox.ini
Due: lint, test, checkCoverage

test(docs): add docs link checker and fix broken links (#255)
  .github/file-filters.yml
  .github/workflows/docs.yml
  docs/.pages
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/attachment.md
  docs/adm-guide/dispatchers/index.md
  docs/glossary/terms/distribution-list.md
  docs/stacks/.pages
  tests/docs/conftest.py
  tests/docs/test_docs_links.py
  tox.ini
Due: lint, test, checkCoverage

fix(ci): set GH_REPO in update-release-notes job
  .github/workflows/release.yml
Due: none

fix(ci): set GH_REPO in update-release-notes job (#256)
  .github/workflows/release.yml
Due: none

ci(docker): build only on release, develop push or manual run
  .github/workflows/dockerize.yml
Due: none

ci(docker): build only on release, develop push or manual run (#257)
  .github/workflows/dockerize.yml
Due: none

chore: remove agent skill files
  .agents/skills/coder/SKILL.md
  .agents/skills/git/branch/SKILL.md
  .agents/skills/git/commit-message/SKILL.md
  .agents/skills/git/commit/SKILL.md
  .agents/skills/git/pr/SKILL.md
  .agents/skills/github-issues/SKILL.md
  .agents/skills/linter/SKILL.md
Due: none

chore: remove agent skill files (#258)
  .agents/skills/coder/SKILL.md
  .agents/skills/git/branch/SKILL.md
  .agents/skills/git/commit-message/SKILL.md
  .agents/skills/git/commit/SKILL.md
  .agents/skills/git/pr/SKILL.md
  .agents/skills/github-issues/SKILL.md
  .agents/skills/linter/SKILL.md
Due: none

feat(dashboard): Add sanity check console
  docs/adm-guide/tools.md
  src/bitcaster/admin/member.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/user.py
  src/bitcaster/cache/manager.py
  src/bitcaster/forms/subscription.py
  src/bitcaster/middleware/state.py
  src/bitcaster/models/subscription.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/dashboards/sanity.html
  src/bitcaster/web/templates/dashboards/tools.html
  src/bitcaster/web/templates/unfold/helpers/welcomemsg.html
  src/bitcaster/web/templatetags/bitcaster.py
  src/bitcaster/web/theme/static_src/src/bitcaster.scss
  tests/admin/test_admin_member_extra.py
  tests/cache/test_cache_manager.py
  tests/forms/test_form_subscription.py
  tests/models/test_model_subscription.py
  tests/web/dashboard/test_dashboard_tools.py
  tests/web/dashboard/test_flow_sanity.py
Due: lint, test, checkCoverage, deploy-dev

fix(ci): checkout base ref in pull_request_target label workflow
  .github/workflows/labelize.yml
Due: none

fix(docs): remove broken glossary link in sanity check doc
  docs/adm-guide/tools.md
Due: none

test: cover remaining sanity check branches
  tests/forms/test_form_subscription.py
  tests/web/dashboard/test_flow_sanity.py
Due: lint, test, checkCoverage

chore(deps): update postcss to 8.5.12
  src/bitcaster/web/static/css/admin_ext.css
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/static/css/message_editor.css
  src/bitcaster/web/theme/static_src/package-lock.json
  src/bitcaster/web/theme/static_src/package.json
Due: lint, test, checkCoverage, deploy-dev

feat(ui): Add memberships link to admin sidebar
  src/bitcaster/config/fragments/unfold.py
Due: lint, test, checkCoverage, deploy-dev

fix(docs): fix yaml indentation in admin guide navigation
  docs/adm-guide/.pages
Due: none

test(docs): skip Slack workspace host in external link check
  tests/docs/test_docs_links.py
Due: lint, test, checkCoverage

feat(api-key): Add publishable API keys with CORS middleware and application scoping
  .ai/best-practices.md
  src/bitcaster/admin/api_key.py
  src/bitcaster/api/event.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/throttling.py
  src/bitcaster/config/settings.py
  src/bitcaster/middleware/cors.py
  src/bitcaster/migrations/0036_apikey_kind_origins_allowed_events.py
  src/bitcaster/models/key.py
  tests/admin/test_admin_apikey.py
  tests/api/test_api_authentication.py
  tests/api/test_api_throttling.py
  tests/api/test_api_trigger.py
  tests/middleware/test_middleware_cors.py
  tests/models/test_model_apikey.py
Due: lint, test, checkCoverage, deploy-dev

test(api-key): cover public key wrong grants rejection
  tests/api/test_api_authentication.py
Due: lint, test, checkCoverage

docs: link admin guide pages to notification policies
  docs/adm-guide/dl.md
  docs/adm-guide/notification.md
  docs/adm-guide/notification_policies.md
  docs/adm-guide/subscription.md
  docs/adm-guide/trigger.md
Due: none
