Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

docs(api): Add documentation for the event trigger endpoint
  docs/adm-guide/trigger.md
Due: none

feat(notifications): Introduce external filtering for recipients
  src/bitcaster/admin/notification.py
  src/bitcaster/api/event.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0008_notification_external_filtering.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/filtering.py
  tests/api/test_api_trigger.py
  tests/test_filtering.py
Due: lint, test, checkCoverage, deploy-dev

add codecov config
  .codecov.yml
  .gitignore
Due: none

properly handle NotificationForm configuration logic
  src/bitcaster/forms/notification.py
Due: lint, test, checkCoverage, deploy-dev

fixes tests
  tests/admin/test_admin_notification.py
Due: lint, test, checkCoverage

feat(notifications): Introduce dynamic recipient filtering (#68)
  .codecov.yml
  .gitignore
  docs/.pages
  docs/adm-guide/trigger.md
  docs/api/.pages
  docs/api/applications.md
  docs/api/channels.md
  docs/api/distribution_lists.md
  docs/api/events.md
  docs/api/index.md
  docs/api/organizations.md
  docs/api/projects.md
  docs/api/system.md
  docs/api/users.md
  src/bitcaster/admin/notification.py
  src/bitcaster/api/event.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0008_notification_external_filtering.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/filtering.py
  tests/admin/test_admin_notification.py
  tests/api/test_api_trigger.py
  tests/test_filtering.py
Due: lint, test, checkCoverage, deploy-dev

feat: Refactor notification recipient filtering
  .codecov.yml
  mypy.ini
  src/bitcaster/admin/notification.py
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/forms/notification.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/extras/testutils/factories/base.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

feat(occurrences): Add inspect action and improve workflow
  src/bitcaster/admin/event.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/tasks.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  src/bitcaster/web/templates/dashboards/lock.html
Due: lint, test, checkCoverage, deploy-dev

feat: Add notification activation status and improve occurrence inspection
  src/bitcaster/admin/member.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/user.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0010_notification_active.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/utils/django.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  src/bitcaster/web/theme/static_src/src/unfold_ext.scss
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_occurrence.py
  tests/extras/testutils/factories/notification.py
Due: lint, test, checkCoverage, deploy-dev

feat(occurrences): Enhance inspection page and improve form validation
  src/bitcaster/admin/occurrence.py
  src/bitcaster/forms/message.py
  src/bitcaster/utils/filtering.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  tests/admin/test_admin_message.py
  tests/utils/test_utils_filtering.py
Due: lint, test, checkCoverage, deploy-dev

Refactor(cache): Introduce versioned CacheManager
  src/bitcaster/admin/occurrence.py
  src/bitcaster/cache/handlers.py
  src/bitcaster/cache/manager.py
  src/bitcaster/utils/django.py
  src/bitcaster/web/dashboard/cache.py
  src/bitcaster/web/dashboard/components/occurrences.py
  src/bitcaster/web/dashboard/components/tracker.py
  src/bitcaster/web/dashboard/home/callback.py
  src/bitcaster/web/dashboard/utils.py
  src/bitcaster/web/dashboard/views.py
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  tests/admin/test_admin_occurrence.py
  tests/cache/test_cache_manager.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): Enhance occurrence inspection and fix cache manager
  src/bitcaster/admin/event.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/cache/manager.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/web/templates/bitcaster/admin/occurrence/inspect.html
  tests/cache/test_cache_manager.py
Due: lint, test, checkCoverage, deploy-dev

refactor(docker, cli, dashboard): Streamline setup and views
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  src/bitcaster/web/dashboard/views.py
  stack-samples/develop/compose.yml
  stack-samples/full/compose.yml
  stack-samples/simple/compose.yml
  tests/cli/test_cli.py
  tests/web/dashboard/test_dashboard_lock.py
  tests/web/dashboard/test_dashboard_monitor.py
  tests/web/dashboard/test_dashboard_tools.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

updates typing
  pyproject.toml
  src/bitcaster/config/fragments/logging.py
  src/bitcaster/models/log.py
  src/bitcaster/state.py
  src/bitcaster/utils/flags.py
  src/bitcaster/web/views.py
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

update deps
  src/bitcaster/config/fragments/logging.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

removes dashboard view
  src/bitcaster/web/dashboard_views.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

update deps (#77)
  src/bitcaster/migrations/0011_application_auto_crete_event.py
  src/bitcaster/web/views.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev

feat(web): add dashboard for superusers
  src/bitcaster/config/dramatiq.py
  src/bitcaster/migrations/0011_application_auto_crete_event.py
  src/bitcaster/web/dashboard_views.py
  src/bitcaster/web/templates/bitcaster/admin/monitor/change_form.html
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
Due: lint, test, checkCoverage, deploy-dev

refactor(scheduler): Replace Celery with APScheduler and Dramatiq
  docker/bin/docker-entrypoint.sh
  docs/dev-guide/.pages
  docs/dev-guide/tasks.md
  pyproject.toml
  src/bitcaster/admin/__init__.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/task.py
  src/bitcaster/api/event.py
  src/bitcaster/checks.py
  src/bitcaster/cli/__main__.py
  src/bitcaster/cli/scheduler.py
  src/bitcaster/cli/worker.py
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/dramatiq.py
  src/bitcaster/config/settings.py
  src/bitcaster/forms/task.py
  src/bitcaster/forms/unfold.py
  src/bitcaster/migrations/0003_task.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/scheduler.py
  src/bitcaster/models/task.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/webpush/migrations/0001_initial.py
  stack-samples/develop/compose.yml
  stack-samples/full/compose.yml
  stack-samples/simple/compose.yml
  tests/admin/test_admin_smoke.py
  tests/admin/test_admin_task.py
  tests/conftest.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/task.py
  tests/models/test_model_task.py
  tests/test_commands.py
  uv.lock
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

removes dashboard view
  src/bitcaster/web/dashboard_views.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
Due: lint, test, checkCoverage, deploy-dev

remove unused celery-types
  uv.lock
Due: none

Refactor: Remove django-dramatiq dependency and all its references
  src/bitcaster/config/dramatiq.py
  src/bitcaster/web/templates/bitcaster/admin/monitor/change_form.html
Due: lint, test, checkCoverage, deploy-dev

refactor(web): Raise PermissionDenied instead of redirect
  pyproject.toml
  pytest.ini
  tox.ini
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

updates run command
  src/bitcaster/cli/worker.py
Due: lint, test, checkCoverage, deploy-dev

refactor(cli, runner): Enhance testability and coverage
  src/bitcaster/cli/inspect.py
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/manager.py
  tests/cli/conftest.py
  tests/cli/test_cli.py
  tests/cli/test_cli_inspect.py
  tests/cli/test_cli_queue.py
  tests/cli/test_cli_run.py
  tests/cli/test_cli_scheduler.py
  tests/runner/conftest.py
  tests/runner/test_runner_manager.py
Due: lint, test, checkCoverage, deploy-dev

updated login url
  src/bitcaster/config/fragments/unfold.py
  src/bitcaster/config/settings.py
  src/bitcaster/web/static/css/unfold_ext.css
  src/bitcaster/web/templates/admin/login.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/unfold/layouts/unauthenticated.html
Due: lint, test, checkCoverage, deploy-dev

fix(web): correct cache key in CurrentChartComponent
  src/bitcaster/web/dashboard/components/current.py
  tests/web/dashboard/components/test_current_chart_component.py
Due: lint, test, checkCoverage, deploy-dev

test(web): add test for OccurrenceChartComponent
  tests/web/dashboard/components/test_occurrence_chart_component.py
Due: lint, test, checkCoverage

test(web): add tests for dashboard components
  tests/web/dashboard/components/test_error_tracker_component.py
  tests/web/dashboard/components/test_occurrence_chart_component.py
Due: lint, test, checkCoverage

add tests
  tests/admin/test_admin_task.py
  tests/extras/testutils/helpers.py
  tests/runner/test_runner_middleware.py
Due: lint, test, checkCoverage

feat(cli): add autoreload support for worker command
  src/bitcaster/cli/worker.py
  tests/cli/test_cli_run.py
  tests/runner/conftest.py
  tests/runner/test_runner_manager.py
  tests/utils/test_utils_crontab.py
Due: lint, test, checkCoverage, deploy-dev

test(admin): add test for task change in admin
  tests/admin/test_admin_task.py
Due: lint, test, checkCoverage
