Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

Fixed import with isor in Notification model
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev

Added Occurrence retention in Even model
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/migrations/0004_event_occurrence_retention_alter_application_owner.py
  src/bitcaster/models/event.py
Due: lint, test, checkCoverage, deploy-dev

Implemented purgeable filter for Occurrence model
  src/bitcaster/models/occurrence.py
  tests/models/test_model_occurence.py
Due: lint, test, checkCoverage, deploy-dev

Applied lint
  src/bitcaster/models/event.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Updated upgrade command with purge_occurences default schedule
  src/bitcaster/management/commands/upgrade.py
Due: lint, test, checkCoverage, deploy-dev

Updated Admin occurrence test to use user_grant_permissions utils
  tests/admin/test_admin_occurrence.py
Due: lint, test, checkCoverage

Implemented admin button for Occurrences purge trigger
  src/bitcaster/admin/occurrence.py
  tests/admin/test_admin_occurrence.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

Implemented Celery task for Occurrences purge
  src/bitcaster/tasks.py
  tests/conftest.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

Fixed content_type parameter usage in TemplateMessage edit view preventing new form from being submitted (#13)
  .pre-commit-config.yaml
  src/bitcaster/admin/message.py
  src/bitcaster/forms/message.py
  tests/admin/test_admin_message.py
Due: lint, test, checkCoverage, deploy-dev

Feature/3 occurrence purging system (#9)
  src/bitcaster/admin/occurrence.py
  src/bitcaster/config/fragments/constance.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0004_event_occurrence_retention_alter_application_owner.py
  src/bitcaster/models/event.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/tasks.py
  tests/admin/test_admin_occurrence.py
  tests/conftest.py
  tests/models/test_model_occurence.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

CONTRIB and Quickstart documentation update (#6)
  CONTRIBUTING.md
  docs/adm-guide/quickstart.md
  src/bitcaster/models/address.py
  src/bitcaster/models/notification.py
  src/bitcaster/web/urls.py
Due: lint, test, checkCoverage, deploy-dev

new channel wizard
  docs/_screenshots/add_application.png
  docs/_screenshots/add_event.png
  docs/_screenshots/change_event.png
  docs/adm-guide/configuration/app.md
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/configuration/structure.md
  docs/adm-guide/reference/channels.md
  docs/adm-guide/reference/diagrams/class.md
  docs/adm-guide/reference/diagrams/flow.md
  docs/adm-guide/reference/dispatchers.md
  docs/adm-guide/reference/sso.md
  docs/adm-guide/structure.md
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/project.py
  src/bitcaster/models/mixins.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/static/bitcaster/css/style.scss
  src/bitcaster/web/templates/admin/channel/add_view.html
  tests/admin/test_admin_channel.py
Due: lint, test, checkCoverage, deploy-dev

updates channel wizard
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/organization.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/channel/add_view.html
  tests/admin/test_admin_channel.py
  tests/extras/testutils/factories/user.py
Due: lint, test, checkCoverage, deploy-dev

lint
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  .gitignore
  docs/.gitignore
  docs/.includes/abbreviations.md
  docs/_theme/js/address.js
  docs/_theme/js/js.cookie.js
  docs/_theme/overrides/partials/footer.html
  docs/_theme/overrides/partials/header.html
  docs/adm-guide/.pages
  docs/adm-guide/configuration/.pages
  docs/adm-guide/configuration/app.md
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/configuration/structure.md
  docs/adm-guide/reference/.pages
  docs/adm-guide/reference/channels.md
  docs/adm-guide/reference/diagrams/.pages
  docs/glossary/.pages
  docs/glossary/terms/.pages
  docs/stacks/.pages
  mkdocs.yml
Due: none

CONTRIB documentation update Small import fix in web urls file
  CONTRIBUTING.md
Due: none

Quickstart documentation update Occurence model code comment
  docs/adm-guide/quickstart.md
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Included Git related configuration in CONTRIB
  CONTRIBUTING.md
Due: none

Removed debugging comments
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  .gitignore
  docs/.pages
  docs/_hooks/hooks.py
  docs/_theme/glossary/definition.html
  docs/_theme/glossary/link.html
  docs/_theme/glossary/refs-list.html
  docs/_theme/glossary/refs-short.html
  docs/_theme/glossary/summary-bc.html
  docs/_theme/glossary/summary-detailed.html
  docs/_theme/glossary/summary-table.html
  docs/_theme/glossary/summary.html
  docs/_theme/js/address.js
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/configuration/structure.md
  docs/adm-guide/reference/sso.md
  docs/glossary/terms/address.md
  docs/glossary/terms/api-key.md
  docs/glossary/terms/application.md
  docs/glossary/terms/assignment.md
  docs/glossary/terms/distribution-list.md
  docs/glossary/terms/event.md
  docs/glossary/terms/message.md
  docs/glossary/terms/notification.md
  docs/glossary/terms/occurrence.md
  docs/license.md
  docs/stacks/develop.md
  mkdocs.yml
Due: none

github issues template and docs
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
  SECURITY.md
  docs/.pages
  docs/security.md
  docs/support.md
Due: none

updates templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

add product version page footer
  src/bitcaster/config/settings.py
  src/bitcaster/web/context_processors.py
  src/bitcaster/web/templates/admin/base_site.html
  src/bitcaster/web/templates/bitcaster/base.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/registration/login.html
Due: lint, test, checkCoverage, deploy-dev

admin enh
  .bumpversion.cfg
  .github/workflows/docs.yml
  pdm.lock
  pyproject.toml
  src/bitcaster/web/templates/admin/index.html
  src/bitcaster/web/templates/registration/login.html
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

API Swagger docs
  src/bitcaster/api/application.py
  src/bitcaster/api/base.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/project.py
  src/bitcaster/api/system.py
  src/bitcaster/api/urls.py
  src/bitcaster/api/user.py
  src/bitcaster/models/address.py
  src/bitcaster/web/urls.py
Due: lint, test, checkCoverage, deploy-dev

updates CODEOWNERS
  .github/CODEOWNERS
Due: none

clean CODEOWNERS
  .github/CODEOWNERS
Due: none

Feature/GitHub issues (#17)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
  SECURITY.md
  docs/.pages
  docs/security.md
  docs/support.md
Due: none

add product version page footer (#16)
  src/bitcaster/config/settings.py
  src/bitcaster/web/context_processors.py
  src/bitcaster/web/templates/admin/base_site.html
  src/bitcaster/web/templates/bitcaster/base.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/registration/login.html
Due: lint, test, checkCoverage, deploy-dev

admin enh (#15)
  .bumpversion.cfg
  .github/workflows/docs.yml
  pdm.lock
  pyproject.toml
  src/bitcaster/web/templates/admin/index.html
  src/bitcaster/web/templates/registration/login.html
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

API Swagger docs (#18)
  src/bitcaster/api/application.py
  src/bitcaster/api/base.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/project.py
  src/bitcaster/api/system.py
  src/bitcaster/api/urls.py
  src/bitcaster/api/user.py
  src/bitcaster/models/address.py
  src/bitcaster/web/urls.py
Due: lint, test, checkCoverage, deploy-dev

Fixed wrong merge in CONTRIB.md (#14)
  CONTRIBUTING.md
  docs/adm-guide/quickstart.md
Due: none

updates index template
  src/bitcaster/web/templates/bitcaster/index.html
Due: lint, test, checkCoverage, deploy-dev

updates docs
  .github/workflows/docs.yml
  .github/workflows/test.yml
  docs/links.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates docs
  docs/_theme/js/address.js
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/configuration/structure.md
  docs/adm-guide/quickstart.md
  docs/adm-guide/reference/dispatchers.md
  docs/adm-guide/reference/sso.md
  docs/guidelines/.pages
  docs/guidelines/development/.pages
  docs/guidelines/index.md
  docs/links.md
  mkdocs.yml
Due: none

updates PR notice
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add environments filtering
  docs/_theme/glossary/summary-bc.html
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/quickstart.md
  docs/glossary/terms/distribution-list.md
  docs/glossary/terms/environment.md
  docs/glossary/terms/message.md
  docs/glossary/terms/occurrence.md
  docs/glossary/terms/project.md
  docs/howto/.pages
  docs/howto/env_routes.md
  pytest.ini
  src/bitcaster/admin/api_key.py
  src/bitcaster/api/event.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/system.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/config/fragments/logging.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0005_apikey_environments_alter_address_name_and_more.py
  src/bitcaster/models/key.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/admin/test_admin_assignment.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/extras/testutils/perms.py
  tests/models/test_model_event.py
  tests/test_flags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev
