Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

fixes mypy
  src/bitcaster/models/distribution.py
  src/bitcaster/models/event.py
Due: lint, test, checkCoverage, deploy-dev

Feature/environment management (#19)
  docs/_theme/glossary/summary-bc.html
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/quickstart.md
  docs/glossary/terms/distribution-list.md
  docs/glossary/terms/environment.md
  docs/glossary/terms/message.md
  docs/glossary/terms/occurrence.md
  docs/glossary/terms/project.md
  docs/howto/.pages
  docs/howto/env_routes.md
  pytest.ini
  src/bitcaster/admin/api_key.py
  src/bitcaster/api/event.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/system.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/config/fragments/logging.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0005_apikey_environments_alter_address_name_and_more.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/event.py
  src/bitcaster/models/key.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/admin/test_admin_assignment.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/extras/testutils/perms.py
  tests/models/test_model_event.py
  tests/test_flags.py
  tests/web/test_web_views.py
Due: lint, test, checkCoverage, deploy-dev

updates
  src/bitcaster/api/application.py
  src/bitcaster/config/fragments/logging.py
  tests/conftest.py
Due: lint, test, checkCoverage, deploy-dev

updates ci:all
  .github/workflows/test.yml
  docs/.pages
  docs/dev-guide/.pages
  docs/dev-guide/index.md
  docs/dev-guide/setup.md
  docs/dev-guide/tests.md
  src/bitcaster/admin/channel.py
  src/bitcaster/config/fragments/logging.py
  src/bitcaster/web/templates/admin/channel/test.html
  src/bitcaster/web/wizards.py
  tests/admin/test_admin_channel.py
  tests/admin/test_admin_message.py
  tests/api/test_api_authentication.py
  tests/conftest.py
  tests/web/test_web_lock_user.py
Due: lint, test, checkCoverage, deploy-dev

fixes mypy ci:all
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev

updates gh config
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/test.yml
Due: none

fixes MessageAdmin.usage()
  src/bitcaster/admin/message.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/models/message.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/editor.css
  src/bitcaster/web/static/bitcaster/css/editor.css.map
  src/bitcaster/web/static/bitcaster/css/editor.scss
  src/bitcaster/web/templates/admin/message/edit.html
  src/bitcaster/web/templates/admin/message/usage.html
  src/bitcaster/web/templatetags/usage.py
  tests/admin/test_admin_message.py
Due: lint, test, checkCoverage, deploy-dev

updates CI and api
  .github/workflows/test.yml
  src/bitcaster/api/application.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/urls.py
Due: lint, test, checkCoverage, deploy-dev

add channels filter
  .mypy.ini
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/api/event.py
  src/bitcaster/constants.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/event.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/static/bitcaster/css/style.scss
  src/bitcaster/web/static/bitcaster/images/logos/logo400.png
  src/bitcaster/web/templates/admin/channel/test.html
  src/bitcaster/web/templates/admin/event/test_event.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/registration/login.html
  tests/admin/test_admin_event.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/extras/testutils/messages.py
  tests/models/test_model_event.py
  tests/models/test_model_occurence.py
  tests/test_notify.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

add documentation
  docs/adm-guide/reference/sso.md
  docs/adm-guide/setup/.pages
  docs/adm-guide/setup/channel.md
  docs/adm-guide/setup/dl.md
  docs/adm-guide/setup/events.md
  docs/adm-guide/setup/message.md
  docs/adm-guide/setup/notification.md
  docs/adm-guide/setup/trigger.md
Due: none

add copyright
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/_theme/css/style.scss
  docs/_theme/img/img.png
  docs/_theme/img/logo.png
  mkdocs.yml
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/fragments/footer.html
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/_theme/js/address.js
  docs/adm-guide/configuration/quickstart.md
  docs/adm-guide/configuration/structure.md
  docs/adm-guide/reference/dispatchers.md
  docs/adm-guide/reference/sso.md
  docs/guidelines/.pages
  docs/guidelines/development/.pages
  docs/guidelines/index.md
  docs/links.md
  mkdocs.yml
Due: none

updates docs
  .github/workflows/docs.yml
  .github/workflows/test.yml
  docs/links.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates PR notice
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fixes tests
  tests/test_flags.py
Due: lint, test, checkCoverage

updates
  .github/workflows/test.yml
  docs/.pages
  docs/_theme/js/address.js
  docs/adm-guide/.pages
  docs/adm-guide/_screenshots/channels/1_add_template.png
  docs/adm-guide/_screenshots/channels/template_configure.png
  docs/adm-guide/_screenshots/channels/template_create.png
  docs/adm-guide/app.md
  docs/adm-guide/channel.md
  docs/adm-guide/channel_create.md
  docs/adm-guide/channel_enable.md
  docs/adm-guide/events.md
  docs/adm-guide/structure.md
  docs/glossary/terms/channel.md
  docs/tags.md
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/admin/register.py
  src/bitcaster/apps.py
  src/bitcaster/utils/http.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/static/bitcaster/css/style.scss
  tests/utils/test_utils_http.py
Due: lint, test, checkCoverage, deploy-dev

updates
  .github/workflows/test.yml
Due: none

updates docs ci:all
  docs/adm-guide/channel_create.md
  docs/adm-guide/structure.md
Due: none

updates
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/_theme/css/style.scss
  docs/adm-guide/.pages
  docs/adm-guide/_screenshots/app/add.png
  docs/adm-guide/_screenshots/channels/2.png
  docs/adm-guide/_screenshots/channels/3.png
  docs/adm-guide/_screenshots/channels/create.png
  docs/adm-guide/_screenshots/dl_add.png
  docs/adm-guide/_screenshots/events/add.png
  docs/adm-guide/_screenshots/events/cfg.png
  docs/adm-guide/_screenshots/events/notification_add.png
  docs/adm-guide/_screenshots/notification/messages.png
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/app.md
  docs/adm-guide/channel_create.md
  docs/adm-guide/channel_enable.md
  docs/adm-guide/dl.md
  docs/adm-guide/events.md
  docs/adm-guide/message.md
  docs/adm-guide/notification.md
  docs/adm-guide/structure.md
  docs/glossary/terms/channel.md
  pytest.ini
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/models/notification.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/channel/add_view.html
  src/bitcaster/web/templates/admin/event/notifications.html
  tests/admin/test_admin_channel.py
  tests/admin/test_admin_organization.py
  tests/admin/test_admin_project.py
Due: lint, test, checkCoverage, deploy-dev

add missing file
  docs/adm-guide/_screenshots/events/notifications.png
  src/bitcaster/admin/channel.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/_theme/css/style.scss
  docs/_theme/js/address.js
  docs/adm-guide/channel_enable.md
  docs/adm-guide/quickstart.md
  docs/adm-guide/structure.md
  docs/index.md
Due: none

updates AdminSite
  src/bitcaster/admin_site.py
  src/bitcaster/api/event.py
  src/bitcaster/config/fragments/flags.py
  src/bitcaster/config/settings.py
  src/bitcaster/constants.py
  src/bitcaster/exceptions.py
  src/bitcaster/web/apps.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/static/bitcaster/css/style.scss
  src/bitcaster/web/templates/admin/base_site.html
  src/bitcaster/web/templates/admin/bc_index.html
  src/bitcaster/web/templates/bitcaster/index.html
  src/bitcaster/web/templates/bitcaster/locking/application.html
  src/bitcaster/web/templates/bitcaster/locking/base.html
  src/bitcaster/web/templates/bitcaster/locking/channel.html
  src/bitcaster/web/templates/bitcaster/locking/done.html
  src/bitcaster/web/templates/bitcaster/locking/lock.html
  src/bitcaster/web/templates/bitcaster/locking/project.html
  src/bitcaster/web/templates/bitcaster/locking/user.html
  src/bitcaster/web/wizards.py
  tests/admin/test_admin_bc.py
  tests/admin/test_admin_smoke.py
  tests/api/test_api_trigger.py
  tests/extras/testutils/perms.py
Due: lint, test, checkCoverage, deploy-dev

updates adminsite
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/admin_site.py
  src/bitcaster/models/event.py
  src/bitcaster/web/templates/admin/bc_index.html
  src/bitcaster/web/templates/admin/change_form.html
  src/bitcaster/web/templates/admin/change_list.html
  src/bitcaster/web/templates/admin/index.html
  tests/admin/test_admin_bc.py
  tests/admin/test_admin_smoke.py
  tests/extras/testutils/perms.py
Due: lint, test, checkCoverage, deploy-dev

add missing css
  src/bitcaster/web/static/bitcaster/css/colors.css
  src/bitcaster/web/static/bitcaster/css/colors.css.map
Due: lint, test, checkCoverage, deploy-dev

add DistributionList to the admin and fixes Message editor colors
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  src/bitcaster/admin/overrides.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin_site.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/colors.scss
  src/bitcaster/web/static/bitcaster/css/style.css
  src/bitcaster/web/static/bitcaster/css/style.css.map
  src/bitcaster/web/templates/admin/constance/change_list.html
  src/bitcaster/web/templates/admin/constance/includes/results_list.html
Due: lint, test, checkCoverage, deploy-dev

updates
  docs/adm-guide/api_key.md
  docs/glossary/terms/application.md
  docs/howto/env_routes.md
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin_site.py
  src/bitcaster/forms/locking.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/migrations/0002_user_locked.py
  src/bitcaster/migrations/0003_occurrence_parent_alter_occurrence_correlation_id.py
  src/bitcaster/migrations/0004_event_occurrence_retention_alter_application_owner.py
  src/bitcaster/migrations/0005_apikey_environments_alter_address_name_and_more.py
  src/bitcaster/models/message.py
  src/bitcaster/social/migrations/0001_initial.py
  src/bitcaster/social/migrations/0002_alter_socialprovider_provider.py
  src/bitcaster/web/forms/__init__.py
  src/bitcaster/web/forms/wizards.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/templates/admin/notification/messages.html
  src/bitcaster/web/wizards.py
  src/bitcaster/webpush/migrations/0001_initial.py
  tests/admin/test_admin_bc.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_organization.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev
