Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

update license
  LICENSE.md
  src/bitcaster/config/fragments/unfold.py
Due: lint, test, checkCoverage, deploy-dev

removes outdated css
  src/bitcaster/web/theme/static_src/src/console.css
  src/bitcaster/web/theme/static_src/src/console.scss
Due: lint, test, checkCoverage, deploy-dev

update license (#167)
  LICENSE.md
  src/bitcaster/config/fragments/unfold.py
Due: lint, test, checkCoverage, deploy-dev

updates swagger online infos
  src/bitcaster/config/fragments/rest_framework.py
Due: lint, test, checkCoverage, deploy-dev

updates swagger docs
  src/bitcaster/api/application.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/profile.py
  src/bitcaster/api/project.py
  src/bitcaster/api/system.py
  src/bitcaster/api/user.py
  src/bitcaster/config/fragments/rest_framework.py
Due: lint, test, checkCoverage, deploy-dev

updates docs license
  docs/license.md
Due: none

updates
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/org.py
  src/bitcaster/api/profile.py
  src/bitcaster/api/user.py
Due: lint, test, checkCoverage, deploy-dev

feat(api): expand endpoints and improve test coverage
  src/bitcaster/api/urls.py
  tests/api/test_api_application.py
  tests/api/test_api_channel.py
  tests/api/test_api_lists.py
  tests/api/test_api_project.py
  tests/api/test_api_user.py
Due: lint, test, checkCoverage, deploy-dev

updates tox.ini
  tox.ini
Due: none

updates swagger online infos (#169)
  docs/license.md
  src/bitcaster/api/application.py
  src/bitcaster/api/attachments.py
  src/bitcaster/api/channel.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/profile.py
  src/bitcaster/api/project.py
  src/bitcaster/api/system.py
  src/bitcaster/api/urls.py
  src/bitcaster/api/user.py
  src/bitcaster/config/fragments/rest_framework.py
  tests/api/test_api_application.py
  tests/api/test_api_channel.py
  tests/api/test_api_lists.py
  tests/api/test_api_project.py
  tests/api/test_api_user.py
  tox.ini
Due: lint, test, checkCoverage, deploy-dev

Fix versioning during Docker builds and clean up Hatch configuration
  docker/Dockerfile
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

Fixed lint pyproject.toml
  pyproject.toml
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

Fix versioning during Docker builds and clean up Hatch configuration (#170)
  docker/Dockerfile
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

chore(semgrep): add custom rules and update configuration
  .github/file-filters.yml
  .github/workflows/semgrep.yml
  .gitignore
  .semgrep/best-practice/no-factory-in-tests.yaml
  .semgrep/django/django-fields-required-attrs.py
  .semgrep/django/django-fields-required-attrs.yaml
  .semgrepignore
  tests/cli/test_cli_importer.py
  tests/cli/test_cli_worker.py
  tests/conftest.py
  tests/console/test_console_notify.py
  tests/console/test_console_tasks.py
  tests/runner/test_runner_manager.py
  tests/test_tasks.py
  tests/web/templatetags/test_web_tags_attachments.py
  tests/web/templatetags/test_web_tags_user.py
  tests/web/test_web_views.py
  tox.ini
Due: lint, test, checkCoverage

feat(admin): add permission checks to unfold sidebar menu items
  src/bitcaster/config/fragments/unfold.py
Due: lint, test, checkCoverage, deploy-dev

improve BackgroundManager singleton, stale runner cleanup, and monitor error handling
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/manager.py
  src/bitcaster/runner/middlewares.py
  src/bitcaster/runner/tasks.py
  tests/runner/test_runner_manager.py
  tests/runner/test_runner_tasks.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

feat(agents): add AgentImap for monitoring IMAP mailboxes
  docs/adm-guide/agents.md
  docs/glossary/terms/agent.md
  src/bitcaster/agents/__init__.py
  src/bitcaster/agents/imap.py
  tests/agents/test_agent_imap.py
Due: lint, test, checkCoverage, deploy-dev

chore(semgrep): add custom rules and update configuration (#172)
  .github/file-filters.yml
  .github/workflows/semgrep.yml
  .gitignore
  .semgrep/best-practice/no-factory-in-tests.yaml
  .semgrep/django/django-fields-required-attrs.py
  .semgrep/django/django-fields-required-attrs.yaml
  .semgrepignore
  tests/cli/test_cli_importer.py
  tests/cli/test_cli_worker.py
  tests/conftest.py
  tests/console/test_console_notify.py
  tests/console/test_console_tasks.py
  tests/runner/test_runner_manager.py
  tests/test_tasks.py
  tests/web/templatetags/test_web_tags_attachments.py
  tests/web/templatetags/test_web_tags_user.py
  tests/web/test_web_views.py
  tox.ini
Due: lint, test, checkCoverage

improve BackgroundManager singleton, stale runner cleanup, and monitor error handling (#173)
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/manager.py
  src/bitcaster/runner/middlewares.py
  src/bitcaster/runner/tasks.py
  tests/runner/test_runner_manager.py
  tests/runner/test_runner_tasks.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

feat(agents): add AgentImap for monitoring IMAP mailboxes (#174)
  docs/adm-guide/agents.md
  docs/glossary/terms/agent.md
  src/bitcaster/agents/__init__.py
  src/bitcaster/agents/imap.py
  tests/agents/test_agent_imap.py
Due: lint, test, checkCoverage, deploy-dev

ftp: add TLS support with fallback to plain FTP (#175)
  .ai/architecture.md
  .ai/dispatchers.md
  .ai/safety.md
  .ai/standards.md
  .ai/testing-patterns.md
  .ai/workflow.md
  .github/AGENTS.md
  .gitignore
  bandit.yaml
  src/bitcaster/agents/ftp.py
  src/bitcaster/config/__init__.py
  src/bitcaster/exceptions.py
  src/bitcaster/utils/markdown.py
  src/bitcaster/web/templatetags/markdown.py
  src/bitcaster/web/templatetags/usage.py
  tests/agents/test_agent_ftp.py
  tox.ini
Due: lint, test, checkCoverage, deploy-dev

docs(agents): consolidate agent instructions and update project documentation
  .ai/architecture.md
  .ai/standards.md
  .ai/testing-patterns.md
  .ai/workflow.md
  .github/AGENTS.md
  AGENTS.md
Due: none

updates standards
  .ai/standards.md
Due: none

feat: add X (Twitter) dispatcher
  .ai/dispatchers.md
  AGENTS.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/x.md
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/x.py
  tests/dispatchers/test_d_x.py
Due: lint, test, checkCoverage, deploy-dev

Revert "feat: add X (Twitter) dispatcher"
  .ai/dispatchers.md
  AGENTS.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/x.md
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/x.py
  tests/dispatchers/test_d_x.py
Due: lint, test, checkCoverage, deploy-dev

feat: enhance SendGrid dispatcher with better config, error handling, and test suite
  src/bitcaster/dispatchers/sendgrid.py
  tests/dispatchers/test_d_sendgrid.py
Due: lint, test, checkCoverage, deploy-dev

fix(tests): avoid xdist race condition in cache tests
  tests/test_cache.py
Due: lint, test, checkCoverage

test: add coverage for SendGrid dispatcher backend-as-string and html_message paths
  tests/dispatchers/test_d_sendgrid.py
Due: lint, test, checkCoverage

feat: enhance SendGrid dispatcher with better config, error handling, and test suite (#184)
  src/bitcaster/dispatchers/sendgrid.py
  tests/dispatchers/test_d_sendgrid.py
  tests/test_cache.py
Due: lint, test, checkCoverage, deploy-dev

feat: add X (Twitter) dispatcher (#183)
  .ai/dispatchers.md
  AGENTS.md
  docs/adm-guide/dispatchers/.pages
  docs/adm-guide/dispatchers/x.md
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/x.py
  tests/dispatchers/test_d_x.py
Due: lint, test, checkCoverage, deploy-dev

feat: add pip-audit for vulnerability scanning
  .github/workflows/security.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

fix: switch pip-audit CI step to use uv
  .github/workflows/security.yml
Due: none

feat: add pip-audit for vulnerability scanning (#185)
  .github/workflows/security.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: lint, test, checkCoverage, build-docker-base, deploy-dev

feat: add slug-based multi-OIDC support and remove deprecated Provider enum
  src/bitcaster/management/commands/develop.py
  src/bitcaster/social/adapter.py
  src/bitcaster/social/admin.py
  src/bitcaster/social/forms.py
  src/bitcaster/social/migrations/0002_socialprovider_label.py
  src/bitcaster/social/migrations/0010_alter_socialprovider_provider_and_more.py
  src/bitcaster/social/migrations/0011_add_slug_to_socialprovider.py
  src/bitcaster/social/migrations/0012_unique_slug.py
  src/bitcaster/social/models.py
  tests/admin/test_admin_social.py
  tests/extras/testutils/factories/social.py
  tests/models/test_model_social.py
  tests/social/test_adapter.py
Due: lint, test, checkCoverage, deploy-dev

refactor(tests): convert TestBitcasterSocialAccountAdapter from class to plain functions
  tests/social/test_adapter.py
Due: lint, test, checkCoverage

feat: add multi-OIDC support and remove deprecated Provider (#193)
  src/bitcaster/config/fragments/social_auth.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/social/adapter.py
  src/bitcaster/social/admin.py
  src/bitcaster/social/forms.py
  src/bitcaster/social/migrations/0002_socialprovider_label.py
  src/bitcaster/social/migrations/0010_alter_socialprovider_provider_and_more.py
  src/bitcaster/social/models.py
  tests/admin/test_admin_social.py
  tests/extras/testutils/factories/social.py
  tests/models/test_model_social.py
  tests/social/test_adapter.py
  uv.lock
Due: lint, test, checkCoverage, deploy-dev
