Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

updates CI
  .github/workflows/test.yml
Due: none

updates CI ci:all
  .github/workflows/test.yml
Due: none

add glossary index
  docs/_scripts/build_glossary.py
  docs/glossary/index.md
  mkdocs.yml
Due: none

add sbom
  .github/workflows/test.yml
  sbom/bitcaster.dot
  sbom/bitcaster.md
  sbom/bitcaster.spdx
  sbom/bitcaster1.dot
Due: none

removes outdated Dockerfile.1
  docker/Dockerfile.1
Due: deploy-dev

updates docs
  .github/actions/docker_build/action.yml
  .github/workflows/release.yml
  docs/.pages
  docs/sbom.md
  mkdocs.yml
  sbom/bitcaster.html
  sbom/bitcaster.md
Due: none

updates release CI
  .github/workflows/release.yml
Due: none

fixes copy.js
  src/bitcaster/admin/api_key.py
  src/bitcaster/web/static/bitcaster/js/copy.js
Due: lint, test, checkCoverage, deploy-dev

Removed non urlencodable chars from api key generation
  src/bitcaster/models/key.py
Due: lint, test, checkCoverage, deploy-dev

Removed non urlencodable chars from api key generation (#23)
  src/bitcaster/models/key.py
Due: lint, test, checkCoverage, deploy-dev

Changed Occurrence.correlation_id to CharField
  docs/glossary/terms/event.md
  src/bitcaster/api/event.py
  src/bitcaster/migrations/0003_alter_apikey_key_alter_channel_protocol_and_more.py
  src/bitcaster/models/occurrence.py
  tests/api/test_api_trigger.py
Due: lint, test, checkCoverage, deploy-dev

Fixed isort
  src/bitcaster/api/event.py
  src/bitcaster/migrations/0003_alter_apikey_key_alter_channel_protocol_and_more.py
Due: lint, test, checkCoverage, deploy-dev

Changed Occurrence.correlation_id to CharField (#24)
  docs/glossary/terms/event.md
  src/bitcaster/migrations/0003_alter_apikey_key_alter_channel_protocol_and_more.py
  src/bitcaster/models/occurrence.py
  tests/api/test_api_trigger.py
Due: lint, test, checkCoverage, deploy-dev

always build test image
  .github/workflows/test.yml
Due: none

updates CI ci:all
  .github/file-filters.yml
  .github/workflows/test.yml
Due: none

occurences list and details page
  pdm.lock
  pyproject.toml
  sbom/bitcaster.json
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/user.py
  src/bitcaster/agents/base.py
  src/bitcaster/agents/fs.py
  src/bitcaster/cache/storage.py
  src/bitcaster/models/address.py
  src/bitcaster/models/event.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/tasks.py
  src/bitcaster/web/static/bitcaster/css/pygments.css
  src/bitcaster/web/static/bitcaster/css/pygments.css.map
  src/bitcaster/web/static/bitcaster/css/pygments.scss
  src/bitcaster/web/templates/admin/apikey/created.html
  src/bitcaster/web/templates/admin/bitcaster/occurrence/payload.html
  src/bitcaster/web/templates/admin/dashboard.html
  src/bitcaster/web/templates/fragments/footer.html
  src/bitcaster/web/templatetags/json.py
  tests/.coveragerc
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_event.py
  tests/api/test_api_trigger.py
  tests/models/test_model_event.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

mypy
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin_site.py
  src/bitcaster/cache/storage.py
  src/bitcaster/models/address.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/key.py
  src/bitcaster/social/admin.py
  src/bitcaster/tasks.py
Due: lint, test, checkCoverage, deploy-dev

lint
  src/bitcaster/admin/assignment.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/key.py
Due: lint, test, checkCoverage, deploy-dev

occurences list and details page (#26)
  pdm.lock
  pyproject.toml
  sbom/bitcaster.json
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/assignment.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin_site.py
  src/bitcaster/agents/base.py
  src/bitcaster/agents/fs.py
  src/bitcaster/cache/storage.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/event.py
  src/bitcaster/models/key.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/social/admin.py
  src/bitcaster/web/static/bitcaster/css/pygments.css
  src/bitcaster/web/static/bitcaster/css/pygments.css.map
  src/bitcaster/web/static/bitcaster/css/pygments.scss
  src/bitcaster/web/templates/admin/apikey/created.html
  src/bitcaster/web/templates/admin/bitcaster/occurrence/payload.html
  src/bitcaster/web/templates/admin/dashboard.html
  src/bitcaster/web/templates/fragments/footer.html
  src/bitcaster/web/templatetags/json.py
  tests/.coveragerc
  tests/admin/test_admin_apikey.py
  tests/admin/test_admin_event.py
  tests/api/test_api_trigger.py
  tests/models/test_model_event.py
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

Implemented email channel timeout
  src/bitcaster/backends/__init__.py
  src/bitcaster/backends/smtp.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/email.py
  src/bitcaster/dispatchers/gmail.py
  src/bitcaster/management/commands/upgrade.py
  tests/admin/test_admin_channel.py
  tests/dispatchers/test_d_gmail.py
  tests/dispatchers/test_d_smtp.py
Due: lint, test, checkCoverage, deploy-dev

Removed unnecessary files
  src/bitcaster/backends/__init__.py
  src/bitcaster/backends/smtp.py
Due: lint, test, checkCoverage, deploy-dev

Feature/27 email channel timeout (#29)
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/email.py
  src/bitcaster/dispatchers/gmail.py
  src/bitcaster/management/commands/upgrade.py
  tests/admin/test_admin_channel.py
  tests/dispatchers/test_d_gmail.py
  tests/dispatchers/test_d_smtp.py
Due: lint, test, checkCoverage, deploy-dev

Fixes #28
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/models/test_model_notification.py
  tests/models/test_model_occurence.py
Due: lint, test, checkCoverage, deploy-dev

Fixes #28 (#30)
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/models/test_model_notification.py
  tests/models/test_model_occurence.py
Due: lint, test, checkCoverage, deploy-dev

[ci skip] WIP
  docs/_guidelines/development/BitcasterCD.drawio.png
  src/bitcaster/dispatchers/base.py
  src/bitcaster/migrations/0004_remove_event_newsletter_notification_newsletter_and_more.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/event.py
  src/bitcaster/models/notification.py
  tests/dispatchers/test_d_gmail.py
  tests/models/test_model_occurence.py
Due: lint, test, checkCoverage, deploy-dev

WIP
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/email.py
  src/bitcaster/dispatchers/gmail.py
  src/bitcaster/migrations/0004_remove_event_newsletter_notification_newsletter_and_more.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/dispatchers/conftest.py
  tests/dispatchers/test_d_gmail.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

WIP
  docs/_guidelines/development/BitcasterCD.drawio.png
  src/bitcaster/admin/distribution.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/gmail.py
  src/bitcaster/migrations/0004_alter_assignment_data_subscription_and_more.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/distribution.py
Due: lint, test, checkCoverage, deploy-dev

Subscription now inherits from BitcasterBaseModel
  src/bitcaster/migrations/0004_alter_assignment_data_subscription_and_more.py
  src/bitcaster/models/distribution.py
Due: lint, test, checkCoverage, deploy-dev

Fixed tests
  src/bitcaster/models/distribution.py
  tests/extras/testutils/factories/distribution.py
Due: lint, test, checkCoverage, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
