Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

docker-builder:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

docker-builder-test:
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  cache:
    untracked: true
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

lint:
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  stage: lint
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
      export BC_BUILD_DATE=$(date +"%Y-%m-%d %H:%M")
  
  ...

trivy-docker:
  image: $DOCKER_BUILDER
  stage: scan-image
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

trivy-code:
  image: $DOCKER_BUILDER
  stage: scan-code
  services:
  - docker:dind
  cache:
    paths:
    - .trivy-cache
  before_script:
  - - - export CI_CHECKSUM=$(sha1sum pdm.lock docker/Dockerfile docker/bin/* docker/conf/* | sha1sum | awk '{print $1}')
    - '# export envs
  
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/builder-test:latest
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:14
    command:
    - postgres
    - -c
    - statement_timeout=120s
    alias: db
  variables:
  ...

checkCoverage:
  stage: test
  image: alpine:latest
  allow_failure: true
  variables:
    JOB_NAME: test
    TARGET_BRANCH: develop
    URL_ACTUAL_PIPELINE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/pipelines/${CI_PIPELINE_ID}/jobs?private_token=${GITLAB_API_TOKEN}
  ...

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

add checks
  src/bitcaster/checks.py
Due: lint, test, checkCoverage, deploy-dev

add tests
  src/bitcaster/checks.py
  src/bitcaster/config/fragments/sentry.py
  src/bitcaster/config/settings.py
  src/bitcaster/utils/sentry.py
  tests/admin/test_admin_home.py
  tests/cli/test_cli_worker.py
  tests/extras/testutils/factories/channel.py
  tests/extras/testutils/helpers.py
  tests/extras/testutils/perms.py
  tests/models/test_model_channel.py
  tests/test_checks.py
Due: lint, test, checkCoverage, deploy-dev

updates test workflow
  .github/workflows/test.yml
Due: none

updates tox.ini
  tox.ini
Due: none

set some flaky test
  tests/selenium/test_f_admin.py
Due: lint, test, checkCoverage

updates workflow
  .github/workflows/test.yml
  tests/selenium/test_f_admin.py
Due: lint, test, checkCoverage

updates workflow
  .github/workflows/test.yml
Due: none

updates tests
  tests/cli/test_cli_scheduler.py
  tests/test_payload_filter.py
Due: lint, test, checkCoverage

update tests
  tests/.coveragerc
  tests/utils/test_utils_sentry.py
Due: lint, test, checkCoverage

feat: add tests (#138)
  src/bitcaster/checks.py
  src/bitcaster/config/fragments/sentry.py
  src/bitcaster/config/settings.py
  src/bitcaster/utils/sentry.py
  tests/.coveragerc
  tests/admin/test_admin_home.py
  tests/cli/test_cli_worker.py
  tests/extras/testutils/factories/channel.py
  tests/extras/testutils/helpers.py
  tests/extras/testutils/perms.py
  tests/models/test_model_channel.py
  tests/test_checks.py
  tests/utils/test_utils_sentry.py
Due: lint, test, checkCoverage, deploy-dev

fix(cli): handle signal registration in non-main threads
  src/bitcaster/api/event.py
  src/bitcaster/cli/scheduler.py
  src/bitcaster/cli/utils.py
  src/bitcaster/cli/worker.py
  src/bitcaster/constants.py
  src/bitcaster/models/log.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/runner/broker.py
  tests/api/test_api_trigger.py
Due: lint, test, checkCoverage, deploy-dev

refactor: worker boot and admin logging filters
  src/bitcaster/admin/process_log.py
  src/bitcaster/cli/scheduler.py
  src/bitcaster/cli/utils.py
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/broker.py
  src/bitcaster/runner/middlewares.py
  src/bitcaster/runner/tasks.py
  src/bitcaster/web/static/css/bitcaster.css
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/dashboards/monitor.html
  src/bitcaster/web/theme/static_src/package.json
  src/bitcaster/web/theme/static_src/src/bitcaster.css
  src/bitcaster/web/theme/static_src/src/bitcaster.scss
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

feat: enhance process logging and admin filters
  src/bitcaster/admin/process_log.py
  src/bitcaster/cli/inspect.py
  src/bitcaster/models/process_log.py
  src/bitcaster/runner/manager.py
  src/bitcaster/runner/middlewares.py
  src/bitcaster/runner/tasks.py
  tests/admin/test_admin_processlog.py
  tests/conftest.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/base.py
  tests/extras/testutils/factories/processlog.py
  tests/models/test_model_processlog.py
  tox.ini
Due: lint, test, checkCoverage, deploy-dev

refactor(cli): remove unused echo function
  src/bitcaster/cli/scheduler.py
Due: lint, test, checkCoverage, deploy-dev

refactor: improve scheduler task management and task purging
  pytest.ini
  src/bitcaster/cli/scheduler.py
  src/bitcaster/cli/worker.py
  src/bitcaster/runner/tasks.py
  tests/admin/test_admin_task.py
  tests/cli/test_cli_scheduler.py
  tests/cli/test_cli_worker.py
  tests/conftest.py
  tests/models/test_model_processlog.py
Due: lint, test, checkCoverage, deploy-dev

refactor(runner): improve ClickMiddleware and test coverage
  src/bitcaster/api/event.py
  src/bitcaster/runner/middlewares.py
  src/bitcaster/runner/tasks.py
  tests/runner/test_runner_manager.py
  tests/runner/test_runner_middleware.py
Due: lint, test, checkCoverage, deploy-dev

feat: harden security and expand test coverage
  src/bitcaster/cli/queue.py
  src/bitcaster/cli/scheduler.py
  src/bitcaster/models/process_log.py
  src/bitcaster/runner/tasks.py
  tests/middleware/test_middleware_state.py
  tests/runner/test_runner_manager.py
  tests/utils/test_utils_constance.py
  tests/utils/test_utils_crontab.py
  tests/utils/test_utils_django.py
  tests/utils/test_utils_http.py
  tests/utils/test_utils_json.py
  tests/utils/test_utils_security.py
  tests/utils/test_utils_shortcuts.py
  tests/utils/test_utils_useragent.py
Due: lint, test, checkCoverage, deploy-dev

refactor(notification): use enum for filtering policy
  src/bitcaster/admin/notification.py
  src/bitcaster/dispatchers/user_message.py
  src/bitcaster/forms/notification.py
  src/bitcaster/migrations/0017_notification_context_filter_notification_description_and_more.py
  src/bitcaster/migrations/0018_notification_policy_update.py
  src/bitcaster/migrations/0019_remove_notification_dynamic_and_more.py
  src/bitcaster/models/choices.py
  src/bitcaster/models/notification.py
  tests/admin/test_admin_notification.py
  tests/admin/test_admin_occurrence.py
  tests/api/test_api_trigger.py
  tests/console/test_console_tasks.py
  tests/dispatchers/test_d_user_message.py
  tests/extras/testutils/factories/notification.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

feat(cli): add user import command and docs
  docs/adm-guide/.pages
  docs/adm-guide/cli.md
  docs/adm-guide/notification_policies.md
  docs/adm-guide/user_management.md
  docs/dev-guide/.pages
  docs/dev-guide/dispatchers.md
  src/bitcaster/cli/__main__.py
  src/bitcaster/cli/importer.py
  tests/cli/test_cli_scheduler.py
  tests/extras/testutils/agent.py
  tests/runner/test_runner_tasks.py
Due: lint, test, checkCoverage, deploy-dev

test: increase coverage for cli importer and fix related issues
  src/bitcaster/cli/importer.py
  src/bitcaster/importing/members.py
  src/bitcaster/models/organization.py
  tests/cli/test_cli_importer.py
Due: lint, test, checkCoverage, deploy-dev

test: achieve 100% coverage for runner tasks
  tests/runner/test_runner_tasks.py
Due: lint, test, checkCoverage

feat(skill): add bitcaster dispatcher creator skill
  bitcaster-dispatcher-creator.skill
Due: none

chore(skill): remove dispatcher creator skill
  bitcaster-dispatcher-creator.skill
Due: none

test: add parameterized test for notification payload_filter
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage

test: add structured AND/OR cases to notification payload_filter tests
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage

docs: add filtering guide for events and notifications
  docs/adm-guide/.pages
  docs/adm-guide/filtering.md
Due: none

refactor(notification): remove context filtering
  docs/adm-guide/filtering.md
  src/bitcaster/admin/notification.py
  src/bitcaster/forms/notification.py
  src/bitcaster/models/choices.py
Due: lint, test, checkCoverage, deploy-dev

refactor: update notification policies and tasks
  docs/adm-guide/filtering.md
  docs/adm-guide/notification_policies.md
  tests/models/test_model_notification.py
  tests/test_tasks.py
Due: lint, test, checkCoverage

docs(notification): clarify dynamic filtering logic
  docs/adm-guide/notification_policies.md
  mkdocs.yml
  src/bitcaster/admin/notification.py
  src/bitcaster/forms/notification.py
  src/bitcaster/models/choices.py
Due: lint, test, checkCoverage, deploy-dev

updates logo docs
  docs/index.md
  mkdocs.yml
Due: none

add logo
  docs/_theme/img/bitcaster-logo-h2.svg
Due: none

add tests
  tests/test_tasks.py
Due: lint, test, checkCoverage

refactor(admin): improve notification rules and context clarity
  docs/adm-guide/notification_policies.md
  mkdocs.yml
  src/bitcaster/admin/notification.py
Due: lint, test, checkCoverage, deploy-dev

feat(filtering): add support for context variables in recipient filters
  docs/adm-guide/notification_policies.md
  docs/adm-guide/trigger.md
  docs/dev-guide/filtering.md
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/types/filtering.pyi
  src/bitcaster/utils/filtering.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

feat(admin): enhance filtering and autocomplete performance
  .semgrep/security/bitcaster-admin-autocomplete.yaml
  docs/adm-guide/abstract_channel_create.md
  docs/adm-guide/notification_policies.md
  docs/adm-guide/trigger.md
  docs/dev-guide/filtering.md
  src/bitcaster/admin/address.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/filters.py
  src/bitcaster/admin/member.py
  src/bitcaster/forms/assignment.py
  src/bitcaster/forms/user.py
  src/bitcaster/models/user.py
  src/bitcaster/web/static/css/console.css
  src/bitcaster/web/templates/admin_extra_buttons/change_list.html
  src/bitcaster/web/templates/admin_extra_buttons/includes/button.html
  src/bitcaster/web/templates/adminfilters/combobox.html
  src/bitcaster/web/templates/adminfilters/json.html
  tests/admin/test_admin_address.py
  tests/admin/test_admin_member.py
  tests/admin/test_admin_message.py
  tests/admin/test_autocomplete.py
  tests/admin/test_filters.py
  tests/extras/testutils/factories/distribution.py
  tests/forms/test_assignment.py
  tests/models/test_model_notification.py
Due: lint, test, checkCoverage, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
