Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

Path conditions:
  docker-builder: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  docker-builder-test: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  lint: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  trivy-docker: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  trivy-code: any of: pdm.lock, docker/Dockerfile, docker/bin/*, docker/conf/*
  test: (any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock) or (any of: src/**/*, tests/**/*)
  checkCoverage: any of: src/**/*, tests/**/*, pyproject.toml, pdm.lock
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock

2024-08-16 20:24 - ci:test ci:build ci:nolint ci:nosec
  .github/workflows/test.yml
Due: none

2024-08-16 20:25 - ci:test ci:build ci:nolint ci:nosec
  .github/workflows/test.yml
Due: none

2024-08-16 20:32 - ci:test ci:build ci:nolint ci:nosec
  .github/actions/docker_build/action.yml
  .github/workflows/test.yml
Due: none

2024-08-16 21:20 - ci:test ci:nolint ci:nosec
  .github/workflows/docs.yml
  mkdocs.yml
Due: none

2024-08-16 21:26 - ci:test ci:nolint ci:nosec
  .github/workflows/docs.yml
Due: none

2024-08-16 21:37 - ci:test ci:nolint ci:nosec
  .github/workflows/delete_image.yml
Due: none

2024-08-16 21:43 - ci:test ci:nolint ci:nosec
  .github/workflows/delete_image.yml
Due: none

updates transifex
  transifex.yml
Due: none

updates README
  README.md
Due: none

updates API
  src/bitcaster/admin/api_key.py
  src/bitcaster/api/application.py
  src/bitcaster/api/base.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/exceptions.py
  src/bitcaster/models/mixins.py
  src/bitcaster/utils/http.py
  tests/api/test_api_lists.py
  tests/api/test_api_org.py
  tests/api/test_api_permission.py
  tests/api/test_api_smoke.py
Due: lint, test, checkCoverage, deploy-dev

updates API
  src/bitcaster/admin/register.py
  src/bitcaster/api/application.py
  src/bitcaster/api/base.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/event.py
  src/bitcaster/api/org.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/urls.py
  src/bitcaster/exceptions.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/mixins.py
  src/bitcaster/utils/http.py
Due: lint, test, checkCoverage, deploy-dev

updates API
  src/bitcaster/admin/event.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/urls.py
  src/bitcaster/web/templates/admin/event/notifications.html
  tests/api/test_api_lists.py
  tests/conftest.py
Due: lint, test, checkCoverage, deploy-dev

updates
  docs/glossary/application.md
  docs/glossary/channel.md
  docs/glossary/distribution-list.md
  docs/glossary/event.md
  docs/glossary/notification.md
  docs/glossary/project.md
  docs/index.md
  docs/process.md
  docs/start.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, deploy-dev

updates docs
  docs/glossary/user.md
Due: none

updates
  .github/workflows/docs.yml
Due: none

mypy updates
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/urls.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/event.py
  tests/api/conftest.py
  tests/api/test_api_lists.py
  tests/api/test_api_permission.py
  tests/conftest.py
  tests/extras/testutils/dispatcher.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/assignment.py
  tests/extras/testutils/factories/base.py
  tests/extras/testutils/factories/browser.py
  tests/extras/testutils/factories/django_celery_beat.py
  tests/extras/testutils/factories/event.py
  tests/extras/testutils/factories/message.py
  tests/extras/testutils/factories/notification.py
  tests/extras/testutils/factories/occurrence.py
  tests/extras/testutils/factories/user.py
  tests/models/test_model_assignment.py
  tests/models/test_model_media.py
  tests/models/test_model_message.py
  tests/test_bitcaster.py
  tests/test_celery.py
  tests/test_commands.py
  tests/test_factories.py
  tests/test_flags.py
  tests/test_notify.py
  tests/test_tasks.py
Due: lint, test, checkCoverage, deploy-dev

updates
  .github/workflows/lint.yml
Due: none

updates mypy
  .github/workflows/lint.yml
  .mypy.ini
  src/bitcaster/admin/assignment.py
  src/bitcaster/api/application.py
  src/bitcaster/api/base.py
  src/bitcaster/api/distribution_list.py
  src/bitcaster/api/project.py
  src/bitcaster/api/serializers.py
  src/bitcaster/models/address.py
  src/bitcaster/models/mixins.py
  src/bitcaster/utils/http.py
Due: lint, test, checkCoverage, deploy-dev

add missing file
  docs/_scripts/build_glossary.py
Due: none

add missing hook
  docs/_hooks/hooks.py
  docs/_overrides/partials/footer.html
  docs/howto/index.md
Due: none

docs: add diagrams
  docs/_scripts/build_glossary.py
  docs/adm-guide/README.md
  docs/adm-guide/class.md
  docs/adm-guide/flow.md
  docs/configuration.md
  docs/glossary/terms/application.md
  docs/glossary/terms/channel.md
  docs/glossary/terms/dispatcher.md
  docs/glossary/terms/distribution-list.md
  docs/glossary/terms/event.md
  docs/glossary/terms/message.md
  docs/glossary/terms/notification.md
  docs/glossary/terms/occurrence.md
  docs/glossary/terms/organization.md
  docs/glossary/terms/recipient-group.md
  docs/glossary/terms/recipient.md
  docs/glossary/terms/sender.md
  docs/glossary/terms/user.md
  docs/index.md
  mkdocs.yml
  src/bitcaster/api/event.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  .github/workflows/docs.yml
  docker/Dockerfile
  docker/bin/docker-entrypoint.sh
  docker/conf/circus.conf
  docs/.pages
  docs/_overrides/content_term.html
  docs/_theme/css/style.css
  docs/_theme/css/style.css.map
  docs/_theme/css/style.scss
  docs/_theme/img/favicon.ico
  docs/_theme/overrides/partials/footer.html
  docs/_theme/overrides/term.html
  docs/_theme/overrides/toc.html
  docs/adm-guide/class.md
  docs/adm-guide/flow.md
  docs/adm-guide/quickstart.md
  docs/configuration.md
  docs/glossary/terms/address.md
  docs/glossary/terms/api-key.md
  docs/glossary/terms/occurrence.md
  docs/index.md
  docs/links.md
  docs/stacks/develop.md
  docs/stacks/full.md
  docs/stacks/simple.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
  src/bitcaster/config/settings.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
  stack-samples/develop/compose.yml
  stack-samples/full/certs/local.crt
  stack-samples/full/certs/local.key
  stack-samples/full/compose.yml
  stack-samples/full/nginx.conf
  stack-samples/simple/compose.yml
Due: docker-builder, docker-builder-test, lint, trivy-docker, trivy-code, test, checkCoverage, build-docker-base, build-docker-test, deploy-dev

updates docs
  .github/workflows/docs.yml
  stack-samples/full/compose.yml
  stack-samples/simple/compose.yml
Due: none

updates docs
  .github/workflows/docs.yml
Due: none

update docs
  docs/_screenshots/add_prj.png
  docs/_screenshots/btn_add_application.png
  docs/_screenshots/btn_create_project.png
  docs/_screenshots/org_buttons.png
  docs/adm-guide/structure.md
  docs/index.md
  src/bitcaster/admin/application.py
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/mixins.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/occurrence.py
  src/bitcaster/admin/organization.py
  src/bitcaster/admin/project.py
  src/bitcaster/models/application.py
  src/bitcaster/models/project.py
  src/bitcaster/web/templates/admin/application/events.html
Due: lint, test, checkCoverage, deploy-dev

updates mypy
  .bumpversion.cfg
  .pre-commit-config.yaml
  docs/_screenshots/add_org.png
  src/bitcaster/constants.py
  tests/extras/testutils/dispatcher.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  README.md
  docs/_screenshots/sso_github.png
  docs/_screenshots/sso_google.png
  docs/adm-guide/sso.md
  src/bitcaster/config/settings.py
Due: lint, test, checkCoverage, deploy-dev

updates docs
  docs/adm-guide/channels.md
  docs/adm-guide/dispatchers.md
  mkdocs.yml
Due: none

CONTRIB documentation update Small import fix in web urls file
  CONTRIBUTING.md
  src/bitcaster/web/urls.py
Due: lint, test, checkCoverage, deploy-dev

Quickstart documentation update Added FIXME in models address for assignment validation missing feature Added warning log in models notification in case of missing message template
  docs/adm-guide/quickstart.md
  src/bitcaster/models/address.py
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev

Included Git related configuration in CONTRIB
  CONTRIBUTING.md
Due: none

Quickstart documentation update Occurence model code comment
  docs/adm-guide/quickstart.md
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Removed debugging comments
  src/bitcaster/models/occurrence.py
Due: lint, test, checkCoverage, deploy-dev

Remove silent Event warning log
  src/bitcaster/models/notification.py
Due: lint, test, checkCoverage, deploy-dev
