Repository bitcaster-io/bitcaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker-base, build-docker-test, lint, test, deploy-dev

build-docker-base:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

build-docker-test:
  stage: build-base
  image: $DOCKER_BUILDER
  services:
  - docker:24.0.5-dind
  script:
  - 'export POETRY_CHECKSUM=$(sha1sum poetry.lock | awk ''{print $1}'')
  
    export POETRY_LOCK_SHA=${POETRY_CHECKSUM:0:8}
  
    export VERSION=$(cat .bumpversion.cfg | grep ''^current_version'' | sed ''s/.*= //'')
  
  ...

lint:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/test:latest
  needs:
  - job: build-docker-test
    optional: true
  script:
  - echo "run lint"
  - echo "<table>" > flake8.html
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/test:latest
  needs:
  - job: build-docker-test
    optional: true
  services:
  - docker:dind
  - name: redis:5.0.5-alpine
    alias: redis
    entrypoint:
    - redis-server
    - --appendonly
    - 'yes'
  - name: postgres:9.6
    alias: db
  variables:
  ...

deploy-dev:
  stage: deploy
  image: $DOCKER_BUILDER
  needs:
  - job: build
    optional: false
  dependencies:
  - build
  environment:
    name: development
    url: https://dev.bitcasterbob.com
  variables:
    WORKER: bitcaster-ns:bitcaster-dev
  script:
  ...

Added pytest-xdist
  pdm.lock
  pyproject.toml
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/mixins.py
  tests/admin/test_admin_project.py
  tests/models/test_model_event.py
Due: build-docker-base, lint, test, deploy-dev

updates
  .gitlab-ci.yml
Due: none

add celery test
  src/bitcaster/config/fragments/celery.py
  src/bitcaster/tasks.py
  tests/test_tasks.py
Due: lint, test, deploy-dev

skip celery 'live' test on GitLab
  tests/test_tasks.py
Due: lint, test

updates
  .gitlab-ci.yml
  tests/test_tasks.py
Due: lint, test

updates
  .gitlab-ci.yml
  src/bitcaster/tasks.py
Due: lint, test, deploy-dev

removes xdist from CI
  .gitlab-ci.yml
Due: none

add test for DistributionList
  src/bitcaster/admin/distribution.py
  tests/admin/test_admin_distribution.py
  tests/conftest.py
Due: lint, test, deploy-dev

fixes SkipIf rule
  src/bitcaster/admin/organization.py
  tests/admin/test_admin_organization.py
  tests/test_tasks.py
Due: lint, test, deploy-dev

updates
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/message.py
  src/bitcaster/api/trigger.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/models/application.py
  src/bitcaster/utils/user_agent.py
  tests/admin/test_admin_apikey.py
  tests/api/test_api_trigger.py
  tests/middleware/test_middleware_useragent.py
  tests/models/test_model_application.py
  tests/models/test_model_message.py
Due: build-docker-base, lint, test, deploy-dev

added Drawio
  docs/BitcasterCD.drawio.png
Due: none

updates
  src/bitcaster/api/serializers.py
Due: lint, test, deploy-dev

updates
  src/bitcaster/admin/auth.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/register.py
  src/bitcaster/admin/user.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/api/trigger.py
  src/bitcaster/api/views.py
  src/bitcaster/apps.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/forms/message.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/userrole.py
  src/bitcaster/social/migrations/0001_initial.py
  tests/admin/test_admin_notification.py
  tests/api/test_api_trigger.py
  tests/dispatchers/test_d_gmail.py
  tests/dispatchers/test_d_mailgun.py
  tests/dispatchers/test_d_mailjet.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/userrole.py
  tests/test_flags.py
  tests/test_payload_filter.py
Due: lint, test, deploy-dev

Added test for payload_filter
  CONTRIBUTING.md
  docs/BitcasterCD.drawio.png
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  tests/models/test_model_occurence.py
  tests/test_payload_filter.py
Due: lint, test, deploy-dev

add AutocompletSelectEnh
  src/bitcaster/admin/base.py
  src/bitcaster/admin/distribution.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/message.py
  src/bitcaster/admin/project.py
  src/bitcaster/admin/userrole.py
  src/bitcaster/dispatchers/base.py
  src/bitcaster/dispatchers/slack.py
  src/bitcaster/forms/event.py
  src/bitcaster/forms/project.py
  src/bitcaster/forms/widgets.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/key.py
  src/bitcaster/models/message.py
  src/bitcaster/models/mixins.py
  src/bitcaster/social/admin.py
  src/bitcaster/utils/user_agent.py
  tests/admin/test_admin_project.py
  tests/forms/test_forms_widget.py
Due: lint, test, deploy-dev

protect Bitcaster objects
  src/bitcaster/admin/application.py
  src/bitcaster/forms/application.py
  src/bitcaster/forms/event.py
  src/bitcaster/forms/project.py
Due: lint, test, deploy-dev

updates README
  README.md
Due: none

removes LICENSE
  LICENSE
Due: none

add transifex.yml
  transifex.yml
Due: none

updates locales
  src/bitcaster/config/settings.py
  transifex.yml
Due: lint, test, deploy-dev

updates
  CODE_OF_CONDUCT.md
  README.md
  src/bitcaster/admin/application.py
  src/bitcaster/constants.py
  src/bitcaster/forms/application.py
  src/bitcaster/models/application.py
  src/bitcaster/models/event.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/state.py
  src/bitcaster/tasks.py
  tests/models/test_model_application.py
  tests/models/test_model_event.py
  tests/test_bitcaster.py
  tests/test_tasks.py
Due: lint, test, deploy-dev

updates
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/social/migrations/0001_initial.py
Due: lint, test, deploy-dev

transifex integration
  pdm.lock
  pyproject.toml
  src/bitcaster/config/fragments/transifex.py
  src/bitcaster/config/settings.py
Due: build-docker-base, lint, test, deploy-dev

transifex config and .po
  .gitignore
  .tx/config
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/ar/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/en/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/es/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/fr/LC_MESSAGES/django.po
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.mo
  src/bitcaster/LOCALE/it/LC_MESSAGES/django.po
Due: lint, test, deploy-dev

add ability to filter distribution list
  src/bitcaster/api/trigger.py
  src/bitcaster/config/fragments/transifex.py
  src/bitcaster/config/settings.py
  src/bitcaster/constants.py
  src/bitcaster/dispatchers/__init__.py
  src/bitcaster/dispatchers/gmail.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/social/strategy.py
  src/bitcaster/tasks.py
  tests/admin/test_admin_channel.py
  tests/api/test_api_trigger.py
  tests/conftest.py
  tests/dispatchers/test_d_gmail.py
  tests/extras/testutils/factories/address.py
  tests/extras/testutils/factories/event.py
  tests/models/test_model_channel.py
  tests/test_factories.py
  tests/test_tasks.py
Due: lint, test, deploy-dev

updates
  .gitlab-ci.yml
  src/bitcaster/api/base.py
  src/bitcaster/api/permissions.py
  src/bitcaster/api/router.py
  src/bitcaster/api/serializers.py
  src/bitcaster/api/trigger.py
  src/bitcaster/api/urls.py
  src/bitcaster/auth/constants.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/key.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/user.py
  src/bitcaster/social/migrations/0001_initial.py
Due: lint, test, deploy-dev

updates
  src/bitcaster/api/permissions.py
Due: lint, test, deploy-dev

updates
  src/bitcaster/api/permissions.py
  src/bitcaster/api/system.py
  src/bitcaster/management/commands/develop.py
Due: lint, test, deploy-dev

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

updates
  LICENSE
  src/bitcaster/web/static/bitcaster/js/editor.min.min.js
  src/bitcaster/web/static/bitcaster/js/knockout-3.5.1.min.js
  src/bitcaster/web/static/rest_framework/docs/js/api.min.min.js
  src/bitcaster/web/static/rest_framework/docs/js/highlight.pack.min.min.js
  src/bitcaster/web/static/rest_framework/docs/js/jquery.json-view.min.min.min.js
  src/bitcaster/web/static/rest_framework/js/ajax-form.min.min.js
  src/bitcaster/web/static/rest_framework/js/bootstrap.min.min.min.js
  src/bitcaster/web/static/rest_framework/js/coreapi-0.1.1.min.min.js
  src/bitcaster/web/static/rest_framework/js/csrf.min.min.js
  src/bitcaster/web/static/rest_framework/js/default.min.min.js
  src/bitcaster/web/static/rest_framework/js/jquery-3.7.1.min.min.min.js
  src/bitcaster/web/static/rest_framework/js/load-ajax-form.min.min.js
  src/bitcaster/web/static/rest_framework/js/prettify-min.min.min.js
  src/bitcaster/web/templates/rest_framework/schema.min.min.js
Due: lint, test, deploy-dev

media files
  docker/Dockerfile
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/base.py
  src/bitcaster/admin/channel.py
  src/bitcaster/admin/event.py
  src/bitcaster/admin/media.py
  src/bitcaster/admin/notification.py
  src/bitcaster/admin/register.py
  src/bitcaster/api/views.py
  src/bitcaster/config/__init__.py
  src/bitcaster/config/fragments/gdal.py
  src/bitcaster/config/settings.py
  src/bitcaster/forms/fields.py
  src/bitcaster/forms/media.py
  src/bitcaster/forms/project.py
  src/bitcaster/forms/widgets.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/__init__.py
  src/bitcaster/models/media.py
  src/bitcaster/social/migrations/0001_initial.py
  tests/admin/test_admin_smoke.py
  tests/conftest.py
  tests/extras/testutils/factories/__init__.py
  tests/extras/testutils/factories/media.py
  tests/models/test_model_media.py
  tests/test_env.py
  tests/test_smartenv.py
Due: build-docker-base, lint, test, deploy-dev

add natural-leys and develop.py --snap
  pdm.lock
  pyproject.toml
  pytest.ini
  src/bitcaster/auth/backends.py
  src/bitcaster/management/commands/develop.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/address.py
  src/bitcaster/models/application.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/distribution.py
  src/bitcaster/models/event.py
  src/bitcaster/models/key.py
  src/bitcaster/models/log.py
  src/bitcaster/models/media.py
  src/bitcaster/models/message.py
  src/bitcaster/models/mixins.py
  src/bitcaster/models/notification.py
  src/bitcaster/models/occurrence.py
  src/bitcaster/models/organization.py
  src/bitcaster/models/project.py
  src/bitcaster/models/trigger.py
  src/bitcaster/models/user.py
  src/bitcaster/models/userrole.py
  src/bitcaster/models/validation.py
  src/bitcaster/social/migrations/0001_initial.py
  tests/admin/test_admin_organization.py
  tests/extras/testutils/factories/address.py
  tests/extras/testutils/factories/channel.py
  tests/extras/testutils/factories/event.py
  tests/extras/testutils/factories/media.py
  tests/extras/testutils/factories/message.py
  tests/extras/testutils/factories/org.py
  tests/models/test_model_channel.py
  tests/models/test_model_media.py
  tests/models/test_model_message.py
  tests/models/test_model_occurence.py
  tests/models/test_model_validation.py
  tests/models/test_natural_key.py
Due: build-docker-base, lint, test, deploy-dev

fixes Dockerfile
  docker/Dockerfile
Due: deploy-dev

add media file serving
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/social/migrations/0001_initial.py
  src/bitcaster/web/urls.py
  src/bitcaster/web/views.py
Due: lint, test, deploy-dev

updates CI
  .gitlab-ci.yml
Due: none

removed Channel.application
  pdm.lock
  pyproject.toml
  src/bitcaster/admin/api_key.py
  src/bitcaster/admin/assignment.py
  src/bitcaster/admin/channel.py
  src/bitcaster/forms/channel.py
  src/bitcaster/forms/mixins.py
  src/bitcaster/management/commands/upgrade.py
  src/bitcaster/migrations/0001_initial.py
  src/bitcaster/models/assignment.py
  src/bitcaster/models/channel.py
  src/bitcaster/models/key.py
  src/bitcaster/models/media.py
  src/bitcaster/models/message.py
  src/bitcaster/models/mixins.py
  src/bitcaster/models/organization.py
  src/bitcaster/social/migrations/0001_initial.py
  src/bitcaster/web/static/bitcaster/css/admin.css
  src/bitcaster/web/static/bitcaster/css/admin.css.map
  src/bitcaster/web/static/bitcaster/css/admin.scss
  src/bitcaster/web/templates/admin/channel/add_done.html
  src/bitcaster/web/templates/admin/channel/add_view.html
  src/bitcaster/webpush/views.py
  tests/admin/test_admin_channel.py
  tests/conftest.py
  tests/dispatchers/test_d_gmail.py
  tests/dispatchers/test_d_mailgun.py
  tests/dispatchers/test_d_mailjet.py
  tests/dispatchers/test_d_smtp.py
  tests/dispatchers/test_d_sys.py
  tests/extras/testutils/factories/channel.py
  tests/models/test_model_assignment.py
  tests/models/test_model_channel.py
Due: build-docker-base, lint, test, deploy-dev

Path conditions:
  build-docker-base: any of: poetry.lock, pyproject.toml, docker/Dockerfile.base, docker/bin/*, docker/conf/*
  build-docker-test: any of: poetry.lock, docker/Dockerfile.base, docker/Dockerfile.test, docker/bin/*, docker/conf/*
  lint: any of: src/**/*, tests/**/*
  test: any of: src/**/*, tests/**/*
  deploy-dev: any of: src/**/*, docker/**/*, pyproject.toml, poetry.lock
